@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 6rem;
  width: 100%;
  background: linear-gradient(to right, #fdf, #fee2f8);
  /* background: linear-gradient(to right, #fee2f8, #fee2f8); */
}

.signup-image-container {
  width: 38rem;
  height: 59.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 0.3rem solid #ffffff;
  /* border: .3rem solid #ff70cd; */
  /* box-shadow: 0 0 .8rem #36c6ff, -.8rem 0 .8rem -.5rem rgba(0, 0, 0, 0); */
  border-right: none;
}

.signup-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38rem;
  height: 59.5rem;
  /* background-color: whitesmoke; */
  background: linear-gradient(to left, #ffb2e4, #c5efff);
  padding: 0.5rem 1.9rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
  /* border: .3rem solid #ff70cd; */
  border: 0.3rem solid #ffffff;
  /* box-shadow: 0 0 .8rem rgba(0, 0, 0, 0), 0 0 .8rem #36c6ff; */
  border-left: none;
}

/* .signup-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  cursor: default;
  margin-top: -.6rem;
  margin-bottom: 1rem;
} */

.signup-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  position: relative;
  cursor: default;
  /* margin-top: -.5rem; */
  margin-bottom: 0.8rem;
}

.signup-title::before {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: 0;
  height: 0.3rem;
  width: 17.7rem;
  border-radius: 0.5rem;
  background: #ff4ec1;
}

/* .signup-user-details {
  margin: 2rem 0 1.2rem 0;
  margin: 0rem 0 1.2rem 0;
  margin-bottom: 1.2rem;
} */

.signup-details {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin-bottom: 0.3rem;
  cursor: default;
  font-size: 1.9rem;
}

.signup-text-box {
  /* font-family: "Poppins", sans-serif; */
  height: 4.4rem;
  width: 34rem;
  outline: none;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  padding-left: 4rem;
  padding-right: 1.3rem;
  background-color: whitesmoke;
  border: 0.1rem solid #ff70cd;
  /* border-inline: none;
  border-top: none; */
  border-bottom-width: 0.2rem;
  margin-bottom: 0.7rem;
  transition: all 0.3s ease;
  color: #cf661a;
  font-weight: 500;
}

.signup-text-box:focus-visible {
  transform: scale(100.5%);
  border-color: #23c1ff;
}

.signup-pass-box {
  padding-right: 12.7%;
}
.signup-icon {
  font-size: 2.15rem;
  position: absolute;
  color: #cf661a;
  margin-left: -33.1rem;
  margin-top: 1.1rem;
}

.signup-password-eye {
  position: absolute;
  display: flex;
  margin-top: -4rem;
  margin-left: 31rem;
  cursor: pointer;
  font-size: 2rem;
}

.signup-error-messages {
  /* font-family: "Poppins", sans-serif; */
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: red;
}

.signup-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 4.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 0.2rem solid white;
  background: linear-gradient(to right, #ff95e6 20%, #ffb0ec 40%, aqua 100%);
}

.signup-btn:hover {
  transform: scale(101%);
  text-shadow: none;
  color: #ff00a6;
  border: 0.2rem solid #ff70cd;
  box-shadow: 0 0 0.8rem #ff70cd;
  background: linear-gradient(to left, #ffffff 20%, #ffffff 40%, #faffff 100%);
}

.login-line {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.login-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: justify;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  font-size: 2rem;
}

.login-link:hover {
  color: #0024ff;
  text-shadow: 0.2rem 0.2rem 3rem white;
  transition: all 0.1s ease;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]::-webkit-inner-spin-button,
input[type="text"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signup-feedback-message {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  text-align: center;
}
.signup-feedback-message.success {
  color: #0029ff;
  font-size: 2.1rem;
  padding-block: 1rem;
  text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
}

.signup-feedback-message.error {
  font-size: 1.73rem;
  padding-block: 0.4rem;
  color: #ff0000;
  text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
}

@media only screen and (max-width: 850px) {
  .signup-image-container {
    width: 44rem;
    height: 69rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.4rem solid #ffffff;
    border-right: none;
  }
  .signup-image-container img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .signup-form-container {
    width: 44rem;
    height: 69rem;
    padding: 2.5rem 2.49rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.4rem solid #ffffff;
    border-left: none;
  }
  .signup-text-box {
    height: 5rem;
    width: 39rem;
    font-size: 2.2rem;
    border-radius: 0.6rem;
    padding-left: 4.4rem;
    padding-right: 1.3rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.1rem solid #ff70cd;
    border-bottom-width: 0.2rem;
    margin-bottom: 2rem;
  }
  .signup-details {
    font-size: 2.3rem;
  }
  .signup-icon {
    font-size: 2.5rem;
    margin-left: -37.9rem;
    margin-top: 1.2rem;
  }
  .signup-pass-box {
    padding-right: 12%;
  }
  .signup-password-eye {
    margin-top: -5.7rem;
    margin-left: 34.8rem;
    font-size: 2.4rem;
  }
  .signup-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 5.4rem;
    border-radius: 0.5rem;
    text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
    font-size: 2.55rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .login-line {
    font-size: 2.2rem;
  }
  .login-link {
    font-size: 2.4rem;
  }
  .signup-title {
    margin-bottom: 2rem;
    font-size: 2.9rem;
  }
  .signup-title::before {
    width: 20.5rem;
    height: 0.4rem;
  }
  .signup-error-messages {
    font-size: 1.7rem;
    margin-top: -2.1rem;
    margin-bottom: 0.8rem;
  }
  .signup-feedback-message.error {
    font-size: 1.9rem;
    padding-block: 0.4rem;
  }
  .signup-feedback-message.success {
    color: #1e00ff;
    font-size: 2.5rem;
    padding-block: 1rem;
    text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
  }
}

@media only screen and (max-width: 739px) {
  .signup-image-container {
    width: 48rem;
    height: 75rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.5rem solid #ffffff;
    border-right: none;
  }
  .signup-image-container img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .signup-form-container {
    width: 48rem;
    height: 75rem;
    padding: 2.5rem 2.49rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.5rem solid #ffffff;
    border-left: none;
  }
  .signup-text-box {
    height: 5.4rem;
    width: 43rem;
    font-size: 2.4rem;
    border-radius: 0.6rem;
    padding-left: 5.1rem;
    padding-right: 1.3rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.1rem solid #ff70cd;
    border-bottom-width: 0.2rem;
    margin-bottom: 2.2rem;
  }
  .signup-details {
    font-size: 2.4rem;
  }
  .signup-icon {
    font-size: 2.6rem;
    margin-left: -41.5rem;
    margin-top: 1.45rem;
  }
  .signup-pass-box {
    padding-right: 12%;
  }
  .signup-password-eye {
    margin-top: -6.09rem;
    margin-left: 38.7rem;
    font-size: 2.5rem;
  }
  .signup-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 5.8rem;
    border-radius: 0.5rem;
    text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .login-line {
    font-size: 2.4rem;
  }
  .login-link {
    font-size: 2.6rem;
  }
  .signup-title {
    margin-bottom: 2rem;
    font-size: 3.2rem;
  }
  .signup-title::before {
    width: 22.5rem;
  }
  .signup-error-messages {
    font-size: 1.9rem;
    margin-top: -2.1rem;
    margin-bottom: 0.8rem;
  }
  .signup-feedback-message.error {
    font-size: 2.1rem;
    padding-block: 0.5rem;
  }
  .signup-feedback-message.success {
    color: #1e00ff;
    font-size: 2.7rem;
    padding-block: 1rem;
    text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
  }
}

@media only screen and (max-width: 670px) {
  .signup-image-container {
    display: none;
  }
  .signup-mobile-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100%;
    background-image: url(/Images/signup-login-bg.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .signup-container {
    background: transparent;
    backdrop-filter: blur(0.6rem);
  }
  .signup-form-container {
    width: 64rem;
    height: 100rem;
    padding: 1.5rem 5.49rem;
    border: 0.45rem solid #ffffff;
    border-radius: 0.5rem;
    background: rgb(255 255 255 / 50%);
  }
  .signup-details {
    font-size: 3.3rem;
  }

  .signup-text-box {
    height: 7.6rem;
    width: 56rem;
    font-size: 3.2rem;
    border-radius: 0.5rem;
    padding-left: 7rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 1.3rem;
    border: 0.3rem solid #ff70cd;
    border-bottom-width: 0.3rem;
    margin-bottom: 4rem;
  }
  .signup-icon {
    font-size: 4rem;
    margin-left: -54.2rem;
    margin-top: 1.8rem;
  }
  .signup-password-eye {
    margin-top: -9.4rem;
    margin-left: 50rem;
    font-size: 3.7rem;
  }
  .signup-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 7.5rem;
    border-radius: 0.5rem;
    text-shadow: 0.25rem 0.25rem 0.1rem #cf661a;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }

  .login-line {
    font-size: 3rem;
  }
  .login-link {
    font-size: 3.1rem;
  }
  .signup-title {
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }
  .signup-title::before {
    width: 28rem;
  }
  .signup-pass-box {
    padding-right: 12.5%;
  }
  .signup-feedback-message.error {
    font-size: 2.7rem;
    padding-block: 0.7rem;
  }
  .signup-error-messages {
    font-size: 2.5rem;
    margin-top: -3.3rem;
  }

  .signup-feedback-message.success {
    font-size: 3.5rem;
    padding-block: 1.4rem;
  }
}

@media only screen and (max-width: 577px) {
  .signup-form-container {
    width: 68rem;
    height: 107rem;
    border: 0.45rem solid #ffffff;
    border-radius: 0.5rem;
    background: rgb(255 255 255 / 50%);
  }
  .signup-details {
    font-size: 3.5rem;
  }
  .signup-text-box {
    height: 7.9rem;
    width: 60rem;
    font-size: 3.5rem;
    border-radius: 0.5rem;
    padding-left: 7rem;
    padding-right: 1.3rem;
    border: 0.3rem solid #ff70cd;
    border-bottom-width: 0.3rem;
    margin-bottom: 3.9rem;
  }
  .signup-icon {
    font-size: 4rem;
    margin-left: -58.1rem;
    margin-top: 1.7rem;
  }
  .signup-password-eye {
    margin-top: -9.4rem;
    margin-left: 54.4rem;
    font-size: 3.7rem;
  }
  .signup-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 7.6rem;
    border-radius: 0.5rem;
    text-shadow: 0.25rem 0.25rem 0.1rem #cf661a;
    font-size: 3.9rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }

  .login-line {
    font-size: 3.2em;
  }
  .login-link {
    font-size: 3.5rem;
  }
  .signup-title {
    margin-bottom: 3rem;
    font-size: 4.4rem;
  }
  .signup-title::before {
    width: 13.2rem;
  }
  .signup-pass-box {
    padding-right: 12.5%;
  }
  .signup-feedback-message.error {
    font-size: 2.9rem;
    padding-block: 0.5rem;
  }
  .signup-error-messages {
    font-size: 2.8rem;
    margin-top: -3.3rem;
  }

  .signup-feedback-message.success {
    font-size: 3.8rem;
  }
}

@media only screen and (max-width: 54px) {
  .signup-mobile-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(/Images/signup-login-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .signup-container {
    /* padding-top: 3.5rem; */
    background: transparent;
    backdrop-filter: blur(0.8rem);
  }
  .signup-form-container {
    width: 36rem;
    border: 0.3rem solid #ffffff;
    border-radius: 0.5rem;
    background: rgb(255 255 255 / 50%);
  }
  .signup-image-container {
    display: none;
  }

  .signup-icon {
    margin-left: -31rem;
  }

  .signup-text-box {
    width: 32rem;
    background-color: rgba(255, 255, 255, 0.38);
  }

  .signup-pass-box {
    padding-right: 12.6%;
  }

  .signup-password-eye {
    margin-left: 28.6rem;
  }
  .signup-feedback-message.error {
    font-size: 1.65rem;
  }
}

@media only screen and (max-width: 49px) {
  .signup-container {
    padding-top: 3.5rem;
    backdrop-filter: blur(3rem);
  }
  .signup-form-container {
    width: 31.5rem;
    height: 52rem;
    padding: 0.5rem 2rem;
    background: rgb(255 255 255 / 40%);
  }

  .signup-title {
    font-size: 2.1rem;
  }

  .signup-title::before {
    width: 14.12rem;
  }

  .signup-text-box {
    height: 4rem;
    width: 28.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding-left: 3.5rem;
    padding-right: 0.7rem;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .signup-text-box:focus-visible {
    transform: scale(103%);
  }

  .signup-btn {
    /* background: linear-gradient(115deg, cyan, #ffdaf2); */
    /* background: linear-gradient(115deg, #d3ffff, cyan); */
    height: 4.2rem;
  }

  .signup-btn:hover {
    transform: scale(103%);
  }

  .signup-details {
    font-size: 1.7rem;
  }

  /* .signup-error-messages {
    font-size: 1.39rem;
  } */

  .signup-error-messages {
    font-size: 1.3rem;
  }

  .login-line {
    font-size: 1.6rem;
  }

  .login-link {
    font-size: 1.7rem;
  }

  .signup-pass-box {
    padding-right: 13.7%;
  }
  .signup-icon {
    font-size: 1.8rem;
    margin-left: -27.7rem;
  }

  .signup-password-eye {
    margin-left: 25.2rem;
    margin-top: -3.6rem;
    font-size: 1.8rem;
  }
  .signup-feedback-message.error {
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(255 255 255);
    font-size: 1.4rem;
  }
  .signup-feedback-message.success {
    text-shadow: 0.1rem 0.1rem 0.1rem rgb(255 255 255);
    font-size: 1.95rem;
  }
}
