.cart-container {
  background-color: #dbdbdb;

  /* background: linear-gradient(115deg, #ededed, #ded6d6, #ffffff); */

  /* background: linear-gradient(115deg, #ded6d6, #ededed); */
  min-height: 100vh;
  width: 100%;
  padding: 11rem 9% 3%;
  display: flex;
}

.all-cart-items-container {
  width: 100%;
}

.cart-item-container {
  display: flex;
  position: relative;
  font-size: 1.4rem;
  border: none;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.cart-item-container::after {
  content: ""; /* Necessary for pseudo-elements */
  border-bottom: 0.1rem solid #6b6b6b;
  width: 96%;
  position: absolute;
  bottom: 0; /* Align at the bottom */
  left: 2%;
}

.cart-summary {
  /* position: absolute;
  vertical-align: top;
  display: inline-block; */
  background-color: white;
  width: 35%;
  height: fit-content;
  margin-left: 3rem;
  padding: 3rem;
  color: #dd0202;
  font-size: 1.3rem;
  line-height: 1.4;
}

.shopping-title {
  font-size: 3rem;
  padding-block: 1.9%;
  padding-left: 1.9%;
  background-color: white;
  border-bottom: 0.1rem solid #000000;
}

.cart-left-part {
  background-color: #d903ff;
  margin-left: 2%;
  width: 17rem;
  height: 20.5rem;
}

.cart-left-part img {
  width: 17rem;
  height: 20.5rem;
  object-fit: cover;
}

.cart-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
  text-align: justify;
  position: relative;
}
.cart-cakename {
  color: #cf661a;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.cart-cake-details {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.cart-cake-ingredient {
  color: #cf661a;
  font-size: 1.9rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.cart-price-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.item-quantity {
  border: 0.1rem solid #a7a7a7;
  background-color: #ebebeb;
  border-radius: 0.5rem;
}

.item-quantity .span {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
}

/* .item-quantity .span span {
  padding-right: 5%;
} */

.plus-minus-icon {
  font-weight: 400;
}
.quantity-control {
  display: flex;
  align-items: center;
}

.item-count {
  font-size: 2rem;
  font-weight: 500;
  padding-inline: 1rem;
}
.cart-price-details {
  position: absolute;
  right: 1%;
  font-size: 2.1rem;
  font-weight: 500;
  color: #cf661a;
}

.remove-from-cart {
  position: absolute;
  font-size: 2.5rem;
  /* top: 10rem; */
  top: -0.6rem;
  right: 1.8rem;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.item-delete-icon {
  font-size: 2.3rem;
  color: #000;
}

.summary-hr {
  width: 90%;
  border: 0;
}
.bag-details-container {
  margin-bottom: 1.6rem;
}

.price-header {
  font-size: 2rem;
  font-weight: 600;
  /* margin: 3.5rem 0 .6rem; */
  margin: 0rem 0 1.5rem;
  color: #711d30;
}

.price-item {
  margin-bottom: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.8rem;
  color: #000000;
}

.price-item-value {
  float: right;
}

.price-footer {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid #000000;
  color: #ff5722;
  line-height: 1.6rem;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 0.06rem;
  font-size: 2.1rem;
  font-weight: 500;
  border: none;
  padding: 0.9rem 1.6rem;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ff91da, #d791ff);
  cursor: pointer;
}

.btn-place-order:hover {
  color: #000000;
  text-shadow: none;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.item-delete-icon:hover {
  color: #ff1a1a;
}

.plus-minus-icon:hover {
  color: #ff1a1a;
}

@media screen and (min-width: 1515px) and (max-width: 1650px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 11rem 6% 3%;
  }
  /* .cart-right-part {
    line-height: 2.2rem;
  } */
}

@media screen and (min-width: 1421px) and (max-width: 1514px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 11rem 5% 3%;
  }

  /* .cart-left-part {
    width: 19rem;
    height: 23.5rem;
  }

  .cart-left-part img {
    width: 19rem;
    height: 23.5rem;
  } */

  .cart-cake-details {
    font-size: 1.7rem;
  }

  .item-count {
    font-size: 1.8rem;
  }

  .item-quantity .span {
    font-size: 1.8rem;
    padding: 0.6rem 0.9rem;
  }

  .plus-minus-icon {
    font-size: 1.6rem;
  }
  .cart-right-part {
    line-height: 2.1rem;
  }
}

@media (max-width: 1420px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    flex-direction: column;
    padding: 11rem 8% 3%;
  }
  .cart-right-part {
    line-height: 2.2rem;
  }
  .cart-summary {
    margin-left: 0;
    width: auto;
    margin-top: 2.5rem;
    padding: 2rem 3rem;
    line-height: 1rem;
  }
}

@media (max-width: 1135px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 11rem 6% 3%;
  }
  /* 
  .cart-left-part {
    width: 19rem;
    height: 22.5rem;
  }

  .cart-left-part img {
    width: 19rem;
    height: 22.5rem;
  } */

  .cart-cake-details {
    font-size: 1.7rem;
  }

  .item-count {
    font-size: 1.8rem;
  }

  .item-quantity .span {
    font-size: 1.8rem;
    padding: 0.6rem 0.9rem;
  }

  .plus-minus-icon {
    font-size: 1.6rem;
  }
  .cart-right-part {
    line-height: 2rem;
  }
}

@media (max-width: 1035px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 11rem 5% 4%;
  }

  .cart-cake-details {
    font-size: 1.6rem;
    padding-bottom: 0.4rem;
  }

  .cart-cake-details-disable {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cart-cakename {
    padding-bottom: 0.4rem;
  }

  .cart-cake-ingredient {
    padding-bottom: 0.4rem;
  }

  .cart-item-container {
    font-size: 1.4rem;
    padding: 2rem 1rem 2rem;
  }

  .cart-left-part {
    margin-right: 1%;
    width: 17rem;
    height: 20rem;
    /* display: flex;
    align-items: center;
    background-color: transparent; */
  }

  .cart-left-part img {
    width: 17rem;
    height: 20rem;
  }
  .cart-right-part {
    padding-left: 4%;
    padding-right: 3%;
  }

  .item-count {
    font-size: 1.7rem;
  }

  .item-quantity .span {
    font-size: 1.6rem;
    padding: 0.5rem 0.9rem;
  }

  .plus-minus-icon {
    font-size: 1.5rem;
  }

  .remove-from-cart {
    top: -0.5rem;
  }

  .cart-price-details {
    right: 6%;
    font-size: 2rem;
  }
  .cart-right-part {
    line-height: 2rem;
  }
  .cart-right-part {
    line-height: 2rem;
    padding-left: 4%;
    padding-right: 5%;
  }
}

@media (max-width: 869px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 10rem 4.5% 4%;
  }
  .cart-item-container {
    font-size: 1.4rem;
    padding: 1rem 1rem 1rem 0rem;
  }
  .shopping-title {
    font-size: 2.7rem;
    padding-block: 1.7%;
    padding-left: 2.9%;
  }

  .cart-right-part {
    padding-left: 2%;
    padding-right: 2%;
    line-height: 2.1rem;
  }

  .cart-cakename {
    font-size: 1.9rem;
    font-weight: 500;
    padding-bottom: 0rem;
  }

  .cart-cake-ingredient {
    font-weight: 500;
    padding-bottom: 0rem;
  }

  .cart-cake-details {
    font-size: 1.55rem;
    padding-bottom: 0rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .cart-cake-details-disable {
    -webkit-line-clamp: 1; /* Number of lines to show */
  }

  .cart-left-part {
    width: 13rem;
    height: 14.8rem;
  }

  .cart-left-part img {
    width: 13rem;
    height: 14.8rem;
  }
  .item-delete-icon {
    font-size: 2rem;
  }
  .item-quantity .span {
    padding: 0.4rem 0.8rem;
  }
  .cart-price-details {
    right: 5%;
    font-size: 1.9rem;
  }
  .remove-from-cart {
    top: -0.1rem;
  }
  .price-header {
    font-size: 1.9rem;
    font-weight: 600;
  }
  .price-footer {
    line-height: 1.2rem;
  }
  .price-item {
    line-height: 1.9rem;
    font-size: 1.8rem;
  }
  .btn-place-order {
    font-size: 2rem;
    padding: 0.75rem 1.6rem;
  }
}

@media (max-width: 769px) {
  .cart-summary {
    padding: 2rem 2rem;
  }
  .price-footer {
    margin-top: -0.9rem;
  }
}

@media (max-width: 621px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 10rem 4.5% 4.5%;
  }
  .cart-cakename {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .shopping-title {
    font-size: 2.5rem;
    padding-block: 1.6%;
  }
  .cart-cake-ingredient {
    display: none;
  }

  .cart-cake-details-disable {
    display: none;
  }

  .cart-left-part {
    width: 10rem;
    height: 11rem;
  }

  .cart-left-part img {
    width: 10rem;
    height: 11rem;
  }
  .cart-right-part {
    padding-left: 2.5%;
    padding-right: 1.5%;
  }
  .item-count {
    font-size: 1.6rem;
    padding-inline: 0.8rem;
  }
  .item-quantity .span {
    font-size: 1.55rem;
  }
  .cart-price-details {
    right: 3%;
    font-size: 1.8rem;
  }
  .price-header {
    font-size: 1.75rem;
  }
  .price-footer {
    line-height: 1rem;
  }
  .plus-minus-icon {
    margin-left: -0.3rem;
  }
}

@media (max-width: 500px) {
  .cart-cake-details {
    font-size: 1.4rem;
    word-spacing: -0.005em;
  }
  .shopping-title {
    font-size: 2.3rem;
    padding-block: 2%;
  }
  .item-quantity .span {
    padding: 0.3rem 0.5rem;
  }
  .cart-left-part {
    margin-right: 1%;
    width: 9rem;
    height: 9.5rem;
  }

  .cart-left-part img {
    width: 9rem;
    height: 9.5rem;
  }
  .cart-price-details {
    right: 3%;
    font-size: 1.7rem;
  }

  .cart-cakename {
    font-size: 1.75rem;
  }
  .cart-price-details {
    right: 1%;
    font-size: 1.6rem;
  }
  .remove-from-cart {
    right: 0.8rem;
  }
  .price-item {
    line-height: 1.5rem;
    font-size: 1.7rem;
  }
  .price-footer {
    margin-top: -1rem;
  }

  .price-footer {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: -1.1rem;
  }
  .btn-place-order {
    font-size: 1.8rem;
  }
}

@media (max-width: 469px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 8.7rem 4.5% 4.5%;
  }
}

/* .item-count {
  font-size: 1.5rem;
  padding-inline: .5rem;
}
.item-right-part {
  min-height: 6.8rem;
  margin-left: 8rem;
}

.price-cart {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.price-details {
  font-size: 1.8rem;
}

.price-footer {
  font-weight: 600;
  font-size: 1.6rem;
} */
