.cart-container {
  background-color: #dbdbdb;

  /* background: linear-gradient(115deg, #ededed, #ded6d6, #ffffff); */

  /* background: linear-gradient(115deg, #ded6d6, #ededed); */
  min-height: 100vh;
  width: 100%;
  padding: 11rem 9% 3%;
  display: flex;
}

.all-cart-items-container {
  width: 100%;
}

.cart-item-container {
  display: flex;
  position: relative;
  font-size: 1.4rem;
  border: none;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.cart-item-container::after {
  content: ""; /* Necessary for pseudo-elements */
  border-bottom: 0.1rem solid #6b6b6b;
  width: 96%;
  position: absolute;
  bottom: 0; /* Align at the bottom */
  left: 2%;
}

.cart-summary {
  /* position: absolute;
  vertical-align: top;
  display: inline-block; */
  background-color: white;
  width: 35%;
  height: fit-content;
  margin-left: 3rem;
  padding: 3rem;
  color: #dd0202;
  font-size: 1.3rem;
  line-height: 1.4;
}

.shopping-title {
  font-size: 3rem;
  padding-block: 1.9%;
  padding-left: 1.9%;
  background-color: white;
  border-bottom: 0.1rem solid #000000;
}

.cart-left-part {
  background-color: #d903ff;
  margin-left: 2%;
  width: 17rem;
  height: 20.5rem;
}

.cart-left-part img {
  width: 17rem;
  height: 20.5rem;
  object-fit: cover;
}

.cart-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
  text-align: justify;
  position: relative;
}
.cart-cakename {
  color: #cf661a;
  font-size: 2rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.cart-cake-details {
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

.cart-cake-ingredient {
  color: #cf661a;
  font-size: 1.9rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.cart-price-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.item-quantity {
  border: 0.1rem solid #a7a7a7;
  background-color: #ebebeb;
  border-radius: 0.5rem;
}

.item-quantity .span {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.5rem 0.9rem;
}

/* .item-quantity .span span {
  padding-right: 5%;
} */

.plus-minus-icon {
  font-weight: 400;
}
.quantity-control {
  display: flex;
  align-items: center;
}

.item-count {
  font-size: 2rem;
  font-weight: 500;
  padding-inline: 1rem;
}
.cart-price-details {
  position: absolute;
  right: 1%;
  font-size: 2.1rem;
  font-weight: 500;
  color: #cf661a;
}

.remove-from-cart {
  position: absolute;
  font-size: 2.5rem;
  /* top: 10rem; */
  top: -0.6rem;
  right: 1.8rem;
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}

.item-delete-icon {
  font-size: 2.3rem;
  color: #000;
}

.summary-hr {
  width: 90%;
  border: 0;
}
.bag-details-container {
  margin-bottom: 1.6rem;
}

.price-header {
  font-size: 2rem;
  font-weight: 600;
  /* margin: 3.5rem 0 .6rem; */
  margin: 0rem 0 1.5rem;
  color: #711d30;
}

.price-item {
  margin-bottom: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
  font-size: 1.8rem;
  color: #000000;
}

.price-item-value {
  float: right;
}

.price-footer {
  font-weight: 500;
  font-size: 2rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid #000000;
  color: #ff5722;
  line-height: 1.6rem;
}

.btn-place-order {
  width: 100%;
  letter-spacing: 0.06rem;
  font-size: 2.1rem;
  font-weight: 500;
  border: none;
  padding: 0.9rem 1.6rem;
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, #ff91da, #d791ff);
  cursor: pointer;
}

.btn-place-order:hover {
  color: #000000;
  text-shadow: none;
  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.item-delete-icon:hover {
  color: #ff1a1a;
}

.plus-minus-icon:hover {
  color: #ff1a1a;
}

.payment-gateway-message {
  color: #0066ff;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding-top: 2rem;
}

@media (max-width: 1110px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    flex-direction: column;
    padding: 11rem 6% 3%;
  }
  .cart-right-part {
    line-height: 2.7rem;
  }
  .shopping-title {
    font-size: 3.6rem;
    padding-block: 1.9%;
    padding-left: 1.9%;
  }
  .cart-summary {
    margin-left: 0;
    width: auto;
    margin-top: 3rem;
    padding: 3.5rem 3rem;
    line-height: 1rem;
  }
  .cart-cakename {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
  }
  .cart-cake-details {
    font-size: 2.3rem;
    padding-bottom: 0rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cart-cake-details-disable {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cart-cake-ingredient {
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
  }
  .item-quantity .span {
    font-size: 2.4rem;
    padding: 0.8rem 1.2rem;
  }
  .cart-price-container {
    margin-top: 0.5rem;
  }
  .item-delete-icon {
    font-size: 2.9rem;
  }
  .cart-price-details {
    right: 1%;
    font-size: 2.5rem;
  }
  .cart-left-part {
    background-color: #d903ff;
    /* margin-left: 1.5%; */
    width: 20rem;
    height: 23rem;
  }

  .cart-left-part img {
    width: 20rem;
    height: 23rem;
    object-fit: cover;
  }
  .price-header {
    font-size: 2.4rem;
    margin: 0rem 0 2.5rem;
  }
  .price-item {
    margin-bottom: 1.6rem;
    line-height: 2.4rem;
    font-size: 2.35rem;
  }
  .item-count {
    font-size: 2.6rem;
    padding-inline: 1.3rem;
  }
  .price-footer {
    font-size: 2.6rem;
    padding-top: 1.4rem;
    border-top: 0.1rem solid #000000;
    line-height: 2.2rem;
  }
  .btn-place-order {
    width: 100%;
    letter-spacing: 0.06rem;
    font-size: 2.7rem;
    padding: 1.2rem 1.6rem;
  }
  .payment-gateway-message {
    font-size: 2.75rem;
    padding-top: 3.1rem;
  }
}

@media (max-width: 850px) {
  .cart-container {
    padding: 13.5rem 6% 3%;
  }
  .cart-right-part {
    line-height: 2.7rem;
  }
  .cart-summary {
    margin-left: 0;
    width: auto;
    margin-top: 3rem;
    padding: 4rem 3rem;
    line-height: 1rem;
  }
  .cart-cakename {
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
  }
  .cart-cake-details {
    font-size: 2.6rem;
    padding-bottom: 0rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cart-cake-details-disable {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cart-cake-ingredient {
    font-size: 2.6rem;
    padding-bottom: 0.5rem;
  }
  .item-quantity .span {
    font-size: 2.95rem;
    padding: 0.9rem 1.3rem;
  }
  .item-delete-icon {
    font-size: 3.4rem;
  }
  .cart-price-details {
    right: 1%;
    font-size: 2.9rem;
  }
  .cart-left-part {
    background-color: #d903ff;
    /* margin-left: 1.5%; */
    width: 22rem;
    height: 26rem;
  }
  .cart-left-part {
    background-color: #d903ff;
    /* margin-left: 1.5%; */
    width: 22rem;
    height: 26rem;
  }

  .cart-left-part img {
    width: 22rem;
    height: 26rem;
    object-fit: cover;
  }
  .price-header {
    font-size: 2.9rem;
    margin: 0rem 0 3.5rem;
  }
  .price-item {
    margin-bottom: 1.9rem;
    line-height: 2.7rem;
    font-size: 2.75rem;
  }
  .item-count {
    font-size: 2.9rem;
    padding-inline: 1.6rem;
  }
  .price-footer {
    font-size: 3rem;
    padding-top: 1.8rem;
    border-top: 0.1rem solid #000000;
    line-height: 2.6rem;
  }
  .btn-place-order {
    width: 100%;
    letter-spacing: 0.06rem;
    font-size: 3rem;
    padding: 1.3rem 1.6rem;
  }
  .payment-gateway-message {
    font-size: 3.1rem;
    padding-top: 3.6rem;
  }
}

@media (max-width: 430px) {
  .cart-container {
    transition: all 0.35s ease-in-out;
    padding: 13.5rem 3.5% 4.5%;
  }
  .cart-cake-ingredient {
    display: none;
  }
  .cart-left-part {
    background-color: #d903ff;
    /* margin-left: 1.5%; */
    width: 21rem;
    height: 24rem;
  }

  .cart-left-part img {
    width: 21rem;
    height: 24rem;
    object-fit: cover;
  }

  .cart-right-part {
    line-height: 3rem;
  }
}
