@import url("https://fonts.googleapis.com/css2?family=Georama:wght@200;300;400;500;600;700;800;900&family=Great+Vibes&family=Lobster&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Georama", sans-serif;
  box-sizing: border-box;
  /* text-transform: capitalize; */
}

html {
  /* font-size: 15rem; */
  /* font-size: 94%; */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1.28rem;
}

html::-webkit-scrollbar-thumb {
  background: deeppink;
}

/* section {
  padding: 25px 0;
  padding: 2.5rem 0;
} */

a:link {
  text-decoration: none;
}

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 6.5rem;
  /* height: 65px; */
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo img {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  /* margin-left: 34px;
  height: 55px; */
  margin-left: 3.4rem;
  height: 5.5rem;
  width: auto;
}

.navigate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigate ul {
  height: 100%;
  list-style-type: none;
}

.navigate ul li {
  float: left;
  width: min-content;
  /* font-size: 33px; */
  font-size: 3.3rem;
  text-align: center;
}

.navigate ul li a {
  font-family: "Roboto Serif", serif;
  color: #cf661a;
  font-weight: 400;
  text-decoration: none;
  /* padding: 13px 30px; */
  padding: 1.3rem 3rem;
  display: block;
}

.navigate ul li ul li {
  display: none;
  opacity: 1;
  /* margin-top: 1px;
  margin-bottom: 4px;
  box-shadow: 3px 3px 7.6px rgb(0, 0, 0); */
  margin-top: 0.1rem;
  margin-bottom: 0.4rem;
  box-shadow: 0.3rem 0.3rem 0.76rem rgb(0, 0, 0);
}

.navigate ul li ul li a {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  /* width: 187px;
  font-size: 24px;
  backdrop-filter: blur(10px); */
  width: 18.7rem;
  font-size: 2.4rem;
  backdrop-filter: blur(1rem);
}

.navigate ul li:hover ul li {
  display: block;
}

.navigate ul li a:hover {
  color: black;
  transition: all 0.25s ease-in-out;
}

.navigate ul li ul li a:hover {
  color: #cf661a;
  transition: all 0.25s ease-in-out;
}

header .user-cart {
  /* margin-right: 30px; */
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
}
header .user-cart a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  /* height: 46px;
  padding: 5px;
  margin-right: 15px; */
  height: 4.6rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.cart-count {
  width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #ff0000;
  /* right: 41.4px;
  top: -9px;
  font-size: 18px; */
  right: 4.14rem;
  top: -0.9rem;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
}

.login {
  /* height: 46px;
  padding: 5px; */
  height: 4.6rem;
  padding: 0.5rem;
  transition: all 0.25s ease-in-out;
}

.user-cart .cart:hover {
  /* box-shadow: 0 0 11px 3px #1da8ff; */
  box-shadow: 0 0 1.1rem 0.3rem #1da8ff;
}

.user-cart .login:hover {
  /* box-shadow: 0 0 11px 3px #ff72de; */
  box-shadow: 0 0 1.1rem 0.3rem #ff72de;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 25px;
  height: 3.4px;
  margin: 4.5px 0;
  transition: 0.4s;
  background-color: rgb(255, 90, 173);
}

.open .bar1 {
  transform: rotate(-45deg) translate(-6.7px, 3px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  transform: rotate(45deg) translate(-8.5px, -4px);
}

.mobile-menu {
  background: linear-gradient(105deg, rgb(255 169 235), rgb(199 239 255/0.9));
  display: flex;
  flex-direction: column;
  /* align-items: start;
  justify-content: start; */
  margin: 0;
  width: 38rem;
  top: 50px;
  padding-top: 12px;
  /* padding-bottom: 50px; */
  position: absolute;
  right: 0;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
}

.open .mobile-menu {
  transform: translateX(0);
}

.mobile-menu li {
  opacity: 1;
  width: auto;
  border-radius: 1px;
  line-height: 20.5px;
  margin-block: 12.5px;
  padding-left: 15px;
  text-align: left;
}

.mobile-menu li a {
  font-family: "Roboto Serif", serif;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
}

.mobile-menu li a:hover {
  color: #ffffff;
}
/* .drop-down {
  padding-left: 2rem;
} */

.blur-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* backdrop-filter: blur(2px); */
  backdrop-filter: blur(0.2rem);
  background-color: rgba(0, 0, 0, 0.25);
}

.user-info {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  width: auto;
  height: auto;
  /* padding: 15px 30px 30px;
  margin-top: 65px;
  backdrop-filter: blur(20px); */
  padding: 1.5rem 3rem 3rem;
  margin-top: 6.5rem;
  backdrop-filter: blur(2rem);
  background-color: rgb(255 255 255 / 85%);
  position: absolute;
  right: 0;
  /* z-index: 2; */
}
.user-profile {
  display: flex;
  align-items: center;
}

.user-profile-title {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  /* font-size: 24px;
  padding-bottom: 25px; */
  font-size: 2.4rem;
  padding-bottom: 2.5rem;
  text-align: center;
}
.hello-user {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  color: rgb(255 120 0);
  /* font-size: 2.1rem;
  text-shadow: 1px 1px white;
  margin-top: -55px; */
  font-size: 2.1rem;
  text-shadow: 0.1rem 0.1rem white;
  margin-top: -5.5rem;
}

.user-info p {
  font-family: "Roboto Serif", serif;
  /* font-size: 20px;
  padding-block: 10px; */
  font-size: 2rem;
  padding-block: 1rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.user-profile img {
  width: auto;
  /* height: 100px;
  margin-right: 25px; */
  height: 10rem;
  margin-right: 2.5rem;
  border-radius: 20%;
  background-color: rgb(222, 185, 164);
  /* background-color: #b59d9d; */
}
.logout-btn {
  font-family: "Roboto Serif", serif;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-weight: 500;
  /* border: 2px solid white;
  font-size: 21px;
  padding-block: 6px;
  margin-top: 5px; */
  border: 0.2rem solid white;
  font-size: 2.1rem;
  padding-block: 0.6rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease-out;
}
.logout-btn:hover {
  /* transform: scale(105%); */
  /* border: 2px solid #da7c25;
  box-shadow: 0.1px 0.1px 11px #ff4800; */
  border: 0.2rem solid #da7c25;
  background: linear-gradient(267deg, #ffffff 0.36%, #ffffff 102.06%);
  box-shadow: 0.01rem 0.01rem 1.1rem #ff4800;
}

/* .user-info button {
  width: 5rem;
  height: 1.5rem;
} */

/* @media only screen and (max-width: 1180px) {
  header .user-cart {
    margin-right: 1rem;
  }
  header .logo img {
    margin-left: 1rem;
    height: 5rem;
    width: auto;
  }
  .navigate ul li {
    font-size: 2.85rem;
  }
  .navigate ul li a {
    padding: 1.6rem 1.7rem;
  }
  .cart {
    height: 4.3rem;
    margin-right: 1.5rem;
  }
  .login {
    height: 4.3rem;
  }
  .cart-count {
    right: 3.91rem;
    font-size: 1.6rem;
  }
} */

/* @media only screen and (max-width: 930px) {
  header .logo img {
    margin-left: 1rem;
    height: 4.5rem;
    width: auto;
  }
  .navigate ul li {
    font-size: 2.55rem;
  }
  .navigate ul li a {
    padding: 1.76rem 1.35rem;
  }
  .cart {
    height: 3.9rem;
    margin-right: 0.5rem;
  }
  .login {
    height: 3.9rem;
  }
  .cart-count {
    right: 2.7rem;
    top: -0.7rem;
    font-size: 1.4rem;
  }
} */
/* @media only screen and (max-width: 840px) {
  header .logo img {
    margin-left: 1rem;
    height: 4.4rem;
  }
  .navigate ul li {
    font-size: 2.5rem;
  }
  .navigate ul li a {
    padding: 1.8rem 1.2rem;
  }
  .cart {
    height: 3.8rem;
    margin-right: 0.5rem;
  }
  .login {
    height: 3.8rem;
  }
  .cart-count {
    right: 2.75rem;
    top: -0.7rem;
    font-size: 1.5rem;
  }
} */

/* @media only screen and (max-width: 767px) {
  header .logo img {
    margin-left: 1.5rem;
  }
  header {
    height: 6rem;
  }
  header .navigate {
    display: none;
  }

  #hamburger-icon {
    margin-right: 2rem;
    display: block;
  }
  header .user-cart {
    position: absolute;
    right: 5.4rem;
  }
  .cart {
    height: 3.9rem;
  }
  .login {
    height: 3.9rem;
  }

  .user-info {
    margin-top: 6rem;
    padding: 1.5rem 2.5rem 2.5rem;
  }
  .user-profile {
    display: flex;
    align-items: center;
  }

  .user-profile-title {
    font-size: 2.3rem;
    padding-bottom: 2.4rem;
  }
  .hello-user {
    font-size: 2rem;
    margin-top: -5.5rem;
  }

  .user-info p {
    font-size: 1.9rem;
    padding-block: 1rem;
  }

  .user-profile img {
    height: 9.5rem;
    margin-right: 2.5rem;
  }
  .logout-btn {
    font-size: 2rem;
    padding-block: 0.6rem;
    margin-top: 0.5rem;
  }
} */
/* 
@media only screen and (max-width: 460px) {
  header {
    height: 5.5rem;
  }
  header .navigate {
    display: none;
  }
  #hamburger-icon div {
    width: 2.5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0.6rem 0;
    transition: 0.4s;
    background-color: rgb(255, 90, 173);
  }

  #hamburger-icon {
    margin-inline: 1rem;
    display: block;
  }
  .mobile-menu {
    top: 5.5rem;
  }
  header .logo img {
    height: 4.3rem;
    margin-left: 0.5rem;
  }
  .login {
    height: 3.6rem;
    padding: 0.4rem;
  }
  .cart {
    height: 3.6rem;
    margin-right: 0.7rem;
    padding: 0.4rem;
  }
  .cart-count {
    right: 2.73rem;
    font-size: 1.3rem;
  }
  header .user-cart {
    position: absolute;
    right: 3.7rem;
  }
  .blur-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    backdrop-filter: blur(10rem);
    background-color: transparent;
  }
  .user-info {
    width: 100%;
    margin-top: 5.5rem;
    padding: 1.5rem 2.5rem 2.5rem;
  }

  .user-profile-title {
    font-size: 2.2rem;
    font-weight: 500;
    padding-bottom: 2.3rem;
  }
  .hello-user {
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: -5rem;
  }

  .user-info p {
    font-size: 1.8rem;
    font-weight: 500;
    padding-block: 0.8rem;
    color: rgb(0, 0, 0);
    margin-left: 0.2rem;
  }

  .user-profile img {
    height: 9rem;
    width: auto;
    margin-right: 2.2rem;
    border-radius: 20%;
    background-color: rgb(222, 185, 164);
  }
  .logout-btn {
    font-family: "Roboto Serif", serif;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    border: 0.2rem solid white;
    font-size: 1.9rem;
    font-weight: 500;
    padding-block: 0.5rem;
    margin-top: 0.5rem;
    transition: all 0.3s ease-out;
  }
}

@media only screen and (max-width: 400px) {
  .mobile-menu {
    background: linear-gradient(to right, #fdcbf1, #d4f3ff);
    top: 5.5rem;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding-top: 5rem;
  }
  .mobile-menu li {
    background-color: whitesmoke;
    opacity: 1;

    border: 0.1rem solid #00e7ff;
    box-shadow: 0.1rem 0.1rem 1.5rem #ff6ccc;
    width: 18rem;
    line-height: 3.8rem;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    padding-left: 0;
    text-align: center;
  }
  .open .mobile-menu {
    align-items: center;
    padding-top: 5rem;
  }
  .mobile-menu li a {
    font-size: 2rem;
  }
} */

/*----------------------Product---------------*/

.product-1-cakes {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}

.product-2-pastrys {
  background: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.product-3-cup-cakes {
  background: linear-gradient(to top, #83eaf1, #dbf3fa);
}

.product-4-wedding-cakes {
  background: linear-gradient(to right, #e9defa, #f5e3e6);
}

.wed-cake-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wed-cake-col {
  width: 31rem;
  height: 57rem;
  margin: 9.4rem 3.7rem;
  border-radius: 1.2rem;
  /* box-shadow: 0 0.6rem 1.275rem rgb(236, 35, 119); */
  box-shadow: 0 0.675rem 1.5rem rgb(236, 35, 119);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.wed-cake-col img {
  margin-bottom: -0.24rem;
  /* margin-bottom: -0.36rem; */
  height: 51rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}

.wed-cake-col:hover {
  /* transition:.5s ease; */
  transform: scale(108%);
  box-shadow: 0 0.675rem 10.5rem #b8e2a3;
}

.white {
  position: relative;
  width: 100%;
  height: 6rem;
  background-color: white;
  display: flex;
}

.title {
  text-align: center;
  font-size: 4rem;
  /* padding-top: 20px; */
  padding-top: 2rem;
  color: #ff0080ad;
  /*margin-bottom: -.3rem;
    margin-top: .05rem;*/
  /* margin-bottom: -3rem; */
  /* margin-top: -0.2rem; */
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.15rem;
}

.title-wedding {
  text-align: center;
  font-size: 4.5rem;
  color: #ff0080ad;
  margin-bottom: -4.5rem;
  margin-top: 3.75rem;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.15rem;
}

.title-wedding span {
  padding-left: 1.5rem;
  color: black;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.3rem;
}

.title span {
  padding-left: 1.5rem;
  color: black;
  font-family: "Great Vibes", cursive;
  letter-spacing: 0.3rem;
}

.cake-row {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cake-col {
  height: 34.5rem;
  width: 31rem;
  margin: 2rem 3.7rem 4.5rem;
  border-radius: 1.2rem;
  box-shadow: 0 0.675rem 1.5rem rgb(236, 35, 119);
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.cake-col img {
  margin-bottom: -0.224rem;
  /* margin-bottom: -0.21rem; */
  height: 28.5rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 1.2rem;
  border-top-left-radius: 1.2rem;
}

.cake-col:hover {
  transform: scale(107%);
  box-shadow: 0 0.675rem 10.5rem #b8e2a3;
}

.price {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  padding-bottom: 0.55rem;
  transition: all 0.1s ease-out;
  font-weight: 500;
  padding-top: 0.55rem;
  letter-spacing: 0.045rem;
}

.rupees {
  font-size: 2.13rem;
  color: black;
}

.rupees:hover {
  color: #cf661a;
}

.price:hover {
  background: radial-gradient(circle at 49.8% 44.4%, #d5dee7 0%, #b8e2a3 90%);
}

/* .product-div {
  padding-top: 14px;
} */

/* @media (max-width: 1600px) {
  .cake-col {
    width: 28rem;
    height: 34.43rem;
    margin: 4.8rem 3.43rem 1.5rem;
  }

  .wed-cake-col {
    width: 28rem;
    margin: 9.75rem 3.45rem;
    height: 51rem;
  }
  .wed-cake-col img {
    height: 45rem;
  }
} */

@media screen and (max-width: 1600px) and (max-height: 900px) {
  html {
    font-size: 59.3%;
  }
}

/* @media (max-width: 1600px) {
  html {
    font-size: 59.3%;
  }
} */

@media screen and (max-width: 1536px) and (max-height: 864px) {
  html {
    font-size: 56.8%;
  }
}

/* @media (max-width: 1536px) {
  html {
    font-size: 56.8%;
  }
} */

@media screen and (max-width: 1440px) and (max-height: 900px) {
  html {
    font-size: 55.6%;
  }
}

/* @media (max-width: 1440px) {
  html {
    font-size: 55.6%;
  }
} */

@media screen and (max-width: 1366px) and (max-height: 768px) {
  html {
    font-size: 50.6%;
  }
}

/* @media (max-width: 1366px) {
  html {
    font-size: 50.6%;
  }
} */

@media screen and (min-width: 1280px) and (max-width: 1366px) {
  html {
    font-size: 50.6%;
  }
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
  html {
    font-size: 50%;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1280px) {
  html {
    font-size: 50%;
  }
}

/* @media (max-width: 1280px) {
  html {
    font-size: 50%;
  }
} */

@media (max-width: 1230px) {
  html {
    font-size: 47%;
  }
  .cake-col img {
    margin-bottom: -0.29rem;
  }
}

@media (max-width: 1160px) {
  html {
    font-size: 44%;
  }
  .wed-cake-col img {
    margin-bottom: -0.25rem;
  }
}

@media (max-width: 1084px) {
  html {
    font-size: 41.5%;
  }
  .wed-cake-col {
    height: 54rem;
    margin: 3.7rem 3.7rem;
  }
  .wed-cake-col img {
    height: 47.7rem;
  }
}
@media screen and (max-width: 962px) and (max-height: 601px) {
  html {
    font-size: 39%;
  }
}

@media screen and (max-width: 884px) and (max-height: 1104px) {
  html {
    font-size: 47%;
  }
  .wed-cake-col img {
    height: 47.72rem;
  }
}

/* @media screen and (max-width: 834px) and (max-height: 1194px) {
  html {
    font-size: 45%;
  }
} */

@media screen and (min-width: 818px) and (max-width: 883px) {
  html {
    font-size: 44.3%;
  }
}

@media screen and (max-width: 817px) and (max-height: 1080px) {
  html {
    font-size: 43.5%;
  }
  .wed-cake-col img {
    height: 47.8rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 1180px) {
  html {
    font-size: 43%;
  }
}

@media screen and (max-width: 768px) and (max-height: 1024px) {
  html {
    font-size: 41.5%;
  }
}

@media screen and (min-width: 720px) and (max-width: 818px) {
  html {
    font-size: 39%;
  }
  header .logo img {
    height: 36px;
    margin-left: 15px;
  }
  header {
    height: 50px;
  }
  .title {
    padding-top: 3rem;
  }

  .white {
    height: 7rem;
  }
  .navigate ul li {
    font-size: 22px;
  }
  .navigate ul li a {
    color: #cf661a;
    padding: 12.5px 16px;
  }

  header .user-cart {
    margin-right: 15px;
    height: 100%;
  }
  header .user-cart {
    right: 43px;
  }
  .cart {
    height: 31.7px;
    margin-right: 8px;
  }
  .login {
    height: 31.7px;
  }
  .cart-count {
    right: 26px;
    font-size: 13.5px;
    top: -7.5px;
  }
}

@media (max-width: 719px) {
  html {
    font-size: 35%;
  }
  header .logo img {
    height: 39.5px;
    margin-left: 18px;
  }
  header {
    height: 50px;
  }
  header .navigate {
    display: none;
  }
  .title {
    padding-top: 3.5rem;
  }

  .white {
    height: 7.5rem;
  }

  #hamburger-icon {
    margin-right: 20px;
    display: block;
  }
  header .user-cart {
    position: absolute;
    right: 43px;
  }
  .cart {
    height: 31.7px;
    margin-right: 8px;
  }
  .login {
    height: 31.7px;
  }
  .cart-count {
    right: 26px;
    font-size: 13.5px;
    top: -7.5px;
  }

  .user-info {
    margin-top: 60px;
    padding: 15px 25px 25px;
  }
  .user-profile {
    display: flex;
    align-items: center;
  }

  .user-profile-title {
    font-size: 23px;
    padding-bottom: 24px;
  }
  .hello-user {
    font-size: 20px;
    margin-top: -55px;
  }

  .user-info p {
    font-size: 19px;
    padding-block: 10px;
  }

  .user-profile img {
    height: 95px;
    margin-right: 25px;
  }
  .logout-btn {
    font-size: 20px;
    padding-block: 6px;
    margin-top: 5px;
  }
}

@media (max-width: 649px) {
  html {
    font-size: 31%;
  }
  .title {
    padding-top: 3.5rem;
  }

  .white {
    height: 8rem;
  }
  .mobile-menu {
    width: 42rem;
  }
  .mobile-menu li a {
    font-size: 20px;
  }
  .cake-col img {
    margin-bottom: -0.224rem;
  }
  .wed-cake-col img {
    height: 48rem;
  }
}
@media (max-width: 577px) {
  html {
    font-size: 29%;
  }
  .title {
    padding-top: 3.5rem;
  }

  .white {
    height: 8.5rem;
  }
  .mobile-menu {
    width: 46rem;
  }
  .mobile-menu li a {
    font-size: 19px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 29%;
  }
  .mobile-menu {
    width: 44rem;
  }
  .mobile-menu li a {
    font-size: 18px;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 28.5%;
  }
  #hamburger-icon {
    margin-right: 12px;
  }
  .mobile-menu {
    background: linear-gradient(to right, #fdcbf1, #d4f3ff);
    padding-top: 50px;
    top: 46px;
    height: 100vh;
    width: 100%;
    align-items: center;
  }
  .mobile-menu li {
    background-color: whitesmoke;
    opacity: 1;
    border: 1px solid #00e7ff;
    box-shadow: 1px 1px 15px #ff6ccc;
    width: 180px;
    line-height: 35px;
    margin-bottom: 5px;
    margin-top: 20px;
    padding-left: 0;
    text-align: center;
  }

  .mobile-menu li:hover {
    border: 1px solid #00e7ff;
    box-shadow: 1px 1px 15px #00e7ff;
  }
  .open .mobile-menu {
    align-items: center;
    padding-top: 50px;
  }
  .mobile-menu li a {
    display: flex;
    justify-content: center;
    font-size: 19.5px;
  }
  .mobile-menu li a:hover {
    color: #ff5aad;
  }
  .cart {
    height: 30.7px;
    margin-right: 8px;
  }
  .login {
    height: 30.7px;
  }
  .cart-count {
    right: 25.45px;
    font-size: 14px;
    top: -7.5px;
  }
}

/* @media (max-width: 1024px) {
  html {
    font-size: 41%;
  }
} */

/* @media (max-width: 1440px) {
  .cake-col {
    width: 26rem;
    margin: 4.5rem 2.7rem 1.5rem;
  }
  .wed-cake-col {
    width: 26rem;
    margin: 9rem 2.7rem;
    height: 48.5rem;
  }
  .wed-cake-col img {
    height: 42.75rem;
  }
  .rupees {
    font-size: 2.07rem;
  }
} */

/* @media (max-width: 1243px) {
  .cake-col {
    height: 31.95rem;
    width: 25rem;
  }
  .cake-col img {
    height: 26.25rem;
  }
  .wed-cake-col {
    width: 25rem;
    margin: 2.7rem 2.7rem;
    height: 43.2rem;
  }
  .wed-cake-col img {
    height: 37.56rem;
  }
  .rupees {
    font-size: 1.995rem;
  }
  .w-title {
    padding-bottom: 2rem;
  }
}

@media (max-width: 1144px) {
  .cake-col {
    height: 30.45rem;
    width: 24rem;
  }
  .cake-col img {
    height: 24.75rem;
  }
  .wed-cake-col {
    width: 24rem;
    height: 40.2rem;
  }
  .wed-cake-col img {
    height: 34.56rem;
  }
} */

/* @media (max-width: 1024px) {
  .cake-col {
    width: 22rem;
    height: 25.35rem;
    margin: 3rem 2.4rem 1.5rem;
  }
  .cake-col img {
    height: 21rem;
  }
  .wed-cake-col {
    width: 22rem;
    height: 36.045rem;
    margin: 2.25rem 2.4rem;
  }
  .wed-cake-col img {
    height: 31.56rem;
  }
  .price {
    padding-top: 0.045rem;
    padding-bottom: 0.09rem;
  }
  .rupees {
    font-size: 1.825rem;
  }
  .title {
    font-size: 3.9rem;
    padding-bottom: 1rem;
  }
  .w-title {
    padding-bottom: 1.8rem;
  }
} */

/* @media (max-width: 810px) {
  .cake-col {
    width: 20rem;
    height: 22.5rem;
    margin: 3.15rem 2.4rem 1.5rem;
  }
  .cake-col img {
    height: 18.75rem;
  }
  .wed-cake-col {
    width: 20rem;
    height: 32.835rem;
    margin: 2.25rem 2.4rem;
  }
  .wed-cake-col img {
    height: 28.56rem;
  }
  .rupees {
    font-size: 1.8rem;
  }
} */

/* @media (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 3rem;
  }
}

@media (max-width: 745px) {
  .cake-col {
    width: 16rem;
    height: 17.25rem;
    margin: 1.95rem 1.5rem 1.5rem;
  }
  .cake-col img {
    height: 14.4rem;
  }
  .wed-cake-col {
    width: 16rem;
    height: 26.97rem;
    margin: 1.5rem 1.5rem;
  }
  .wed-cake-col img {
    height: 23.31rem;
  }
  .rupees {
    font-size: 1.275rem;
  }
  .title {
    padding-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  .white {
    height: 4.5rem;
  }
} */

/* @media (max-width: 575px) {
  .cake-col {
    width: 14rem;
    height: 16.2rem;
    margin: 1.83rem 1.5rem 1.5rem;
  }
  .cake-col img {
    height: 13.35rem;
  }
  .wed-cake-col {
    width: 14rem;
    height: 25.92rem;
  }
  .wed-cake-col img {
    height: 22.26rem;
  }
} */

/* @media (max-width: 450px) {
  .cake-col {
    width: 14rem;
    height: 16.05rem;
    margin: 1.5rem 1.5rem 1.5rem;
  }
  .cake-col img {
    height: 13.05rem;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
  }
  .wed-cake-col {
    width: 14rem;
    height: 24.6rem;
  }
  .wed-cake-col img {
    height: 21.45rem;
  }
  .price {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }
  .rupees {
    font-size: 1.2rem;
  }
  .title {
    padding-bottom: 2.5rem;
    font-size: 2.7rem;
    padding-inline: 0.5rem;
  }
  .product-link {
    overflow: hidden;
    height: 3rem;
    border: none;
  }
} */
