.about {
  height: 100vh;
  width: 100%;
  position: relative;
  display: inline-block;
  /* background-color: rgba(255, 214, 172, 0.3); */
  background-image: url("/Images/about-background.jpg");
}
.about-photo {
  height: 100vh;
  display: block; /* Removes the bottom whitespace of the image */
  width: 100%;
  /* background: rgba(27, 27, 27, 0.2); */
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  /* padding: 6% 4.5% 2.5%; */
  /* padding: 12.5rem 7rem 5.75rem; */
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-bg {
  display: none;
}

.about_details {
  position: absolute;
  top: 76%;
  left: 50%;
  /* height: 30%; */
  height: auto;
  width: 75%;
  transform: translate(-50%, -50%);
  background: rgb(255 255 255 / 75%);
  /* backdrop-filter: blur(.4rem); */
  padding: 0.5rem 3%;
  border-radius: 0.4rem;
}

.about_details p {
  font-family: "Poppins", cursive;
  font-size: 2.2rem;
  font-weight: 400;
  text-align: justify;
  margin-block: 1.5rem;
  color: #d35800;
}

@keyframes animate {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0.5rem);
  }
}

/* @media (max-width: 768px) {
  .about-photo h1 {
    font-size: 4.5rem;
    padding-top: 50%;
  }

  .about-photo details {
    font-size: 1.8rem;
  }
} */

.value-title {
  font-family: "Roboto Serif", serif;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 500;
  color: rgb(236, 35, 119);
  padding-top: 2rem;
  margin-bottom: -1.2rem;
}

.value {
  margin-top: 5.25rem;
  /* margin-bottom: 5.25rem; */
  background: linear-gradient(to top, #e9defa, #fdcbf1);
}

.v-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* margin-bottom: 2rem; */
  gap: 0 3rem;
}

.v-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 29rem;
  margin-top: 3.75rem;
  margin-bottom: 2.25rem;
}

.v-cell img {
  height: 7rem;
  width: auto;
  object-fit: cover;
  background-size: cover;
}

.v-cell h2 {
  font-family: "Roboto Serif", serif;
  padding: 0.9rem;
  color: rgb(0, 0, 255);
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.v-cell p {
  font-family: "Poppins", cursive;
  padding: 0.8rem;
  width: 30rem;
  text-align: center;
  color: black;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0rem;
}

@media (max-width: 1600px) {
  .about_details {
    width: 85%;
  }
}

/* @media (max-width: 1280px) {
  .v-cell p {
    font-size: 2.1rem;
  }
  .v-cell h2 {
    font-size: 2.3rem;
  }
} */
@media (max-width: 1366px) {
  /* .v-cell img {
    height: 7.5rem;
  } */
  .v-cell p {
    font-size: 2rem;
  }
  .v-cell h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 1230px) {
  /* .v-cell img {
    height: 7.5rem;
  } */

  .v-cell img {
    height: 7.6rem;
  }

  .value-title {
    font-size: 3.9rem;
  }
  .v-cell p {
    font-size: 2.1rem;
  }
  .v-cell h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 1160px) {
  .v-cell img {
    height: 7.5rem;
  }

  .value-title {
    font-size: 4rem;
  }
  .v-cell {
    width: 30rem;
  }
  .v-cell p {
    font-size: 2.2rem;
  }
  .v-cell h2 {
    font-size: 2.4rem;
  }
}

@media (max-width: 940px) {
  .v-cell {
    width: 42rem;
  }
  .v-cell p {
    width: 40rem;
  }
}

@media (max-width: 850px) {
  .about_details p {
    font-size: 2.6rem;
  }
  .value-title {
    font-size: 4.8rem;
  }
  .v-cell {
    width: 44rem;
  }
  .v-cell img {
    height: 8.8rem;
  }
  .v-cell h2 {
    font-size: 2.8rem;
  }
  .v-cell p {
    font-size: 2.5rem;
    width: 46rem;
  }
}

@media (max-width: 740px) {
  .about_details p {
    font-size: 2.8rem;
  }
  .value-title {
    font-size: 5rem;
  }
  .v-cell {
    width: 49rem;
  }
  .v-cell img {
    height: 9rem;
  }
  .v-cell h2 {
    font-size: 3rem;
  }
  .v-cell p {
    font-size: 2.65rem;
    width: 51rem;
  }
}

/* @media (max-width: 669px) {
  .about_details p {
    font-size: 3.35rem;
  }
  .value-title {
    font-size: 5.7rem;
  }
  .v-cell {
    width: 49rem;
  }
  .v-cell img {
    height: 9.7rem;
  }
  .v-cell h2 {
    font-size: 3.7rem;
  }
  .v-cell p {
    font-size: 2.25rem;
    width: 51rem;
  }
} */

/* @media (max-width: 818px) {
  .about_details p {
    font-size: 2.8rem;
  }
  .v-cell {
    width: 42rem;
  }
  .v-cell h2 {
    font-size: 2.7rem;
  }
  .v-cell p {
    font-size: 2.6rem;
    width: 49rem;
  }
  .value-title {
    font-size: 4rem;
  }
} */

@media (max-width: 669px) {
  .about_details p {
    font-size: 3.35rem;
  }
  .value-title {
    font-size: 5.2rem;
  }
  .v-cell {
    width: 51rem;
  }
  .v-cell img {
    height: 10.3rem;
  }
  .v-cell h2 {
    font-size: 3.4rem;
  }
  .v-cell p {
    font-size: 3.2rem;
    width: 55rem;
  }
  .about_details {
    width: 91%;
  }
}

@media (max-width: 540px) {
  /* .about_details p {
    font-size: 3rem;
  } */

  .v-row {
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .v-cell {
    margin-bottom: 1rem;
  }
  .v-cell p {
    width: 80vw;
    line-height: 4rem;
  }
}

/* @media (max-width: 1530px) {
  .about-photo {
    padding: 6.5% 4% 3%;
  }
  .about_details {
    width: 85%;
  }
  .about_details p {
    font-size: 2.1rem;
    margin-block: 1.3rem;
    text-shadow: none;
  }
} */

/* @media (max-width: 1000px) {
  .about-photo {
    padding: 12.5% 5% 5%;
  }
  .about_details p {
    font-size: 2rem;
    margin-block: 1rem;
  }
} */

/* @media (max-width: 885px) {
  .about_details p {
    font-size: 1.9rem;
    margin-block: 1rem;
  }
  .about_details {
    top: 75%;
  }
} */
/* @media (max-width: 757px) {
  .about_details p {
    font-size: 1.8rem;
    margin-block: 1rem;
  }
} */
/* @media (max-width: 650px) {
  .about_details p {
    font-size: 1.7rem;
    margin-block: 1rem;
  }
} */
/* @media (max-width: 700px) {
  .value-title {
    font-size: 37.5rem;
  }
  .v-cell {
    width: auto;
    margin-top: 3.6rem;
    margin-right: 0;
    margin-bottom: 0rem;
  }
  .v-cell img {
    height: 6.5rem;
  }
  .v-cell h2 {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .v-cell p {
    width: 28rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  .v-row {
    gap: 0 0;
  }
} */

@media (max-width: 45px) {
  .about {
    height: 100%;
    background-color: rgb(255, 211, 168);
  }
  .about-photo {
    display: none;
    height: 70%;
    margin-top: -12.6rem;
    min-height: 80vh;
    max-width: 99%;
    padding: 0;
    /* margin-inline: auto; */
    /* background-image: url("/Images/About-mobile-bg.jpg"); */
  }
  .mobile-bg {
    /* margin-top: -6rem;
    position: absolute; */
    display: block;
    height: 30%;
    margin-top: -5.5rem;
    min-height: 75vh;
    width: 100%;
    padding: 0;
    background-size: cover;
    background-image: url("/Images/About-mobile-bg.jpg");
  }
  .about_details {
    /* height: 30vh; */
    position: initial;
    transform: none;
    /* background: rgb(255 255 255 / 75%); */
    /* backdrop-filter: blur(.4rem); */
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.3rem;
  }

  .about_details p {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
  }

  .value-title {
    font-size: 2.7rem;
    margin-bottom: 0rem;
  }
  .value {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
  }
  .v-cell {
    margin-top: 1.65rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
  }
  .v-cell img {
    height: 5.25rem;
    width: 6rem;
    object-fit: contain;
  }
  .v-cell h2 {
    padding: 0.4rem;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }
  .v-cell p {
    padding: 0rem;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
  }
}
