.cocktail-bg {
  padding: 6.5rem 10% 0;
  background: linear-gradient(to top, #fdcbf1, #d4f3ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pro-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-col img {
  height: 46rem;
  width: auto;
  max-width: 37rem;
  object-fit: cover;
  background-size: cover;
  /* box-shadow: 0 .675rem .15rem #ec2377; */
  box-shadow: 0rem 0rem 1rem 0.7rem white;
}

.product-details {
  font-family: "Roboto Serif", serif;
  padding-left: 10%;
  padding-right: 10%;
  /* padding: 1.5rem 10%; */
  font-size: 2.55rem;
  font-weight: 500;
  line-height: 3.7rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cake-name span {
  font-family: "Roboto Serif", serif;
  font-size: 4rem;
  font-weight: 600;
  color: #cf661a;
  letter-spacing: 0.1rem;
}

.cake-ingredients span {
  font-family: "Roboto Serif", serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #cf661a;
}

.fa-sharp {
  border: transparent;
  text-align: center;
  font-size: 2.8rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

.rs {
  font-family: "Roboto Serif", serif;
  font-size: 2.85rem;
  font-weight: 600;
  position: absolute;
  right: 19%;
  color: #cf661a;
}

.cake-txtbox {
  font-family: "Roboto Serif", serif;
  margin-left: 22rem;
  font-size: 2.2rem;
  color: deeppink;
  border: 0.2rem solid black;
  /*box-shadow: 0 .15rem .75rem deeppink;*/
}

.cake-msg-btn {
  font-family: "Roboto Serif", serif;
  margin-left: -0.3rem;
  padding: 0.4rem 0.3rem 0.5rem;
  font-size: 25rem;
  color: white;
  border: 0.1rem solid black;
  background-color: black;
}

.add-to-cart {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.add-to-cart .cart-btn {
  padding: 1.1rem 2.2rem;
  border: 0.2rem solid #ffffff;
  border-radius: 0.7rem;
  font-size: 2.1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  background: linear-gradient(to left, #ffa7ea, #a5e5ff);
  box-shadow: 0rem 0rem 0.7rem 0.6rem white;
  /* box-shadow: 0 0 .8rem #36c6ff; */
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-btn .angle-right {
  color: #000000;
  margin-left: 0.75rem;
  font-size: 1.9rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: animate 0.5s ease infinite;
}

.cart-btn:hover {
  /* transform: scale(1.1); */
  color: rgb(0, 0, 0);
  text-shadow: none;
  border: 0.2rem solid #36c6ff;
  box-shadow: 0 0 0.8rem #36c6ff;
  background: linear-gradient(to right, #ffffff, #ffffff);
}
.cocktail-white {
  width: 100%;
  height: 4.5rem;
  background-color: white;
  display: none;
}

@keyframes animate {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0.5rem);
  }
}

@media (max-width: 1845px) {
  .product-details {
    padding-right: 0%;
  }
  .cocktail-bg {
    padding: 6.5rem 8% 0;
  }
  .rs {
    right: 9%;
  }
}

@media (max-width: 1521px) {
  .cocktail-bg {
    padding: 6.5rem 7% 0;
  }
  .product-details {
    padding-right: 0%;
    padding-left: 8%;
  }
}
@media (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
    gap: 7rem;
    /*margin-block: 1.5rem; */
  }
  .pro-col img {
    height: 49rem;
    width: auto;
    max-width: 40rem;
    /* box-shadow: 0rem 0rem 1rem 0.7rem white; */
  }
  .cake-name span {
    font-size: 4.2rem;
    letter-spacing: 0.1rem;
  }
  .cake-ingredients span {
    font-size: 3.4rem;
    letter-spacing: 0.1rem;
  }
  .product-details {
    padding-right: 0%;
    padding-left: 0%;
    font-size: 2.8rem;
    line-height: 4rem;
    /* gap: 3.5rem; */
  }
  .add-to-cart .cart-btn {
    padding: 1.3rem 2.6rem;
    font-size: 2.5rem;
  }
  .rs {
    font-size: 3.3rem;
  }
  .cart-btn .angle-right {
    margin-left: 1rem;
    font-size: 2.1rem;
  }
}
@media (max-width: 850px) {
  .cocktail-bg {
    padding: 8rem 7% 0;
  }
  .content-wrapper {
    gap: 7.5rem;
  }
  .pro-col img {
    height: 52rem;
    width: auto;
    max-width: 42rem;
  }
  .cake-name span {
    font-size: 4.5rem;
  }
  .cake-ingredients span {
    font-size: 3.4rem;
  }
  .product-details {
    font-size: 3.2rem;
    line-height: 4.4rem;
    gap: 3.5rem;
  }
  .add-to-cart .cart-btn {
    padding: 1.5rem 2.9rem;
    font-size: 2.8rem;
  }
  .rs {
    font-size: 3.6rem;
  }
  .cart-btn .angle-right {
    margin-left: 1.3rem;
    font-size: 2.4rem;
  }
}
@media (max-width: 740px) {
  .cocktail-bg {
    padding: 8.7rem 7% 0;
  }
}

@media (max-width: 670px) {
  .cocktail-bg {
    padding: 10.1rem 7% 0;
  }
  .content-wrapper {
    gap: 7rem;
  }
  .product-details {
    font-size: 3.3rem;
    gap: 3.3rem;
  }
  .add-to-cart .cart-btn {
    padding: 1.9rem 3.3rem;
    font-size: 3.4rem;
  }
  .cart-btn .angle-right {
    margin-left: 1.6rem;
    font-size: 3rem;
  }
  .rs {
    font-size: 3.8rem;
  }
}

@media (max-width: 577px) {
  .cocktail-bg {
    padding: 10.8rem 7% 0;
  }
}
@media (max-width: 430px) {
  .cocktail-bg {
    height: 100dvh;
  }
}
