.cocktail-bg {
  padding: 6.5rem 10% 0;
  background: linear-gradient(to top, #fdcbf1, #d4f3ff);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-block: 10%; */
}

.pro-col {
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  /* margin-top: 2%; */
}

.pro-col img {
  height: 46rem;
  width: auto;
  max-width: 37rem;
  object-fit: cover;
  background-size: cover;
  /* box-shadow: 0 .675rem .15rem #ec2377; */
  box-shadow: 0rem 0rem 1rem 0.7rem white;
}

.product-details {
  font-family: "Roboto Serif", serif;
  padding-left: 10%;
  padding-right: 10%;
  /* padding: 1.5rem 10%; */
  font-size: 2.55rem;
  font-weight: 500;
  line-height: 3.7rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.cake-name span {
  font-family: "Roboto Serif", serif;
  font-size: 4rem;
  font-weight: 600;
  color: #cf661a;
  letter-spacing: 0.1rem;
}

.cake-ingredients span {
  font-family: "Roboto Serif", serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: #cf661a;
}

.fa-sharp {
  border: transparent;
  text-align: center;
  font-size: 2.8rem;
  margin-right: 1.2rem;
  cursor: pointer;
}

.rs {
  font-family: "Roboto Serif", serif;
  font-size: 2.85rem;
  font-weight: 600;
  position: absolute;
  right: 19%;
  color: #cf661a;
}

.cake-txtbox {
  font-family: "Roboto Serif", serif;
  margin-left: 22rem;
  font-size: 2.2rem;
  color: deeppink;
  border: 0.2rem solid black;
  /*box-shadow: 0 .15rem .75rem deeppink;*/
}

.cake-msg-btn {
  font-family: "Roboto Serif", serif;
  margin-left: -0.3rem;
  padding: 0.4rem 0.3rem 0.5rem;
  font-size: 25rem;
  color: white;
  border: 0.1rem solid black;
  background-color: black;
}

.add-to-cart {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.add-to-cart .cart-btn {
  padding: 1.1rem 2.5rem;
  border: none;
  border: 0.2rem solid #ffffff;
  border-radius: 0.4rem;
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  background: linear-gradient(to left, #ffa7ea, #a5e5ff);
  box-shadow: 0rem 0rem 0.7rem 0.6rem white;
  /* box-shadow: 0 0 .8rem #36c6ff; */
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cart-btn .angle-right {
  color: #000000;
  margin-left: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: animate 0.5s ease infinite;
}

.cart-btn:hover {
  /* transform: scale(1.1); */
  color: rgb(0, 0, 0);
  text-shadow: none;
  border: 0.2rem solid #36c6ff;
  box-shadow: 0 0 0.8rem #36c6ff;
  background: linear-gradient(to right, #ffffff, #ffffff);
}
.cocktail-white {
  width: 100%;
  height: 4.5rem;
  background-color: white;
  display: none;
}

@keyframes animate {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0.5rem);
  }
}

@media (max-width: 1845px) {
  .product-details {
    padding-right: 0%;
  }
  .cocktail-bg {
    padding: 4.6% 8% 0;
  }
  .rs {
    right: 9%;
  }
  /* .pro-col img {
    height: 47rem;
    width: auto;
    max-width: 39rem;
  } */
}

@media (max-width: 1521px) {
  .cocktail-bg {
    padding: 5% 7% 0;
  }
  .product-details {
    padding-right: 0%;
    padding-left: 8%;
  }
}
@media (max-width: 900px) {
  .content-wrapper {
    flex-direction: column;
    gap: 7rem;
    /*margin-block: 1.5rem; */
  }

  .product-details {
    padding-right: 0%;
    padding-left: 0%;
  }
}

/* @media (max-width: 1250px) {
  .content-wrapper {
    flex-direction: column;
    gap: 3rem;
    margin-block: 1.5rem;
  }
  .product-details {
    padding-inline: 5%;
  }
  .rs {
    right: 10%;
  }

  .pro-col img {
    height: 33rem;
    max-width: 32rem;
    width: auto;
  }

  .product-details {
    font-size: 2.25rem;
  }

  .cake-name span {
    font-size: 3.4rem;
  }

  .cake-ingredients span {
    font-size: 2.55rem;
  }
  .add-to-cart .cart-btn {
    padding: 1.3rem 2rem;
    font-size: 19rem;
  }
  .rs {
    font-size: 2.4rem;
  }
} */

/* @media (max-width: 900px) {
  .content-wrapper {
    gap: 3rem;
    margin-block: 1.5rem;
  }

  .cocktail-bg {
    padding: 6.5rem 6% 0rem;
  }
  .rs {
    right: 11%;
    font-size: 2.25rem;
  }

  .pro-col img {
    height: 30rem;
    width: auto;
    max-width: 30rem;
  }

  .product-details {
    font-size: 20.25rem;
  }

  .cake-name span {
    font-size: 30rem;
  }

  .cake-ingredients span {
    font-size: 24rem;
  }
  .add-to-cart .cart-btn {
    padding: 13rem 16rem;
  }
} */

/* @media (max-width: 630rem) {
  .content-wrapper {
    gap: 30rem;
    margin-block: 15rem;
  }

  .cocktail-bg {
    padding: 40rem 6% 0%;
  }
  .rs {
    right: 11%;
    font-size: 21.75rem;
  }

  .pro-col img {
    height: 280rem;
    width: auto;
    max-width: 300rem;
  }

  .product-details {
    font-size: 18.75rem;
    gap: 15rem;
  }

  .cake-name span {
    font-size: 28rem;
  }

  .cake-ingredients span {
    font-size: 24rem;
  }
  .add-to-cart {
    margin-top: 6%;
  }
  .add-to-cart .cart-btn {
    padding: 12rem 12rem;
    font-size: 17rem;
  }
} */

/* @media (max-width: 400rem) {
  .pro-col img {
    height: 230rem;
    width: auto;
    max-width: 210rem;
  }
  .cocktail-bg {
    padding: 75rem 4% 2%;
    height: auto;
  }
  .product-details {
    font-size: 18rem;
    gap: 13rem;
    margin-bottom: 15rem;
    padding-inline: 4%;
  }
  .cake-ingredients span {
    font-weight: 500;
    font-size: 22.5rem;
  }
  .cake-name span {
    font-weight: 500;
    font-size: 25rem;
  }
  .rs {
    right: 10%;
    font-size: 21rem;
  }
  .content-wrapper {
    gap: 20rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }
  .add-to-cart .cart-btn {
    padding: 10rem 12rem;
  }
  .cocktail-white {
    display: block;
  }
} */
