.purchase-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.user-purchase-history {
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  margin-block: 2rem;
  font-weight: 400;
}

.no-purchase {
  font-family: "Roboto Serif", serif;
  font-size: 2.2rem;
  color: red;
  font-weight: 500;
  margin-block: 1rem;
  text-align: center;
}

.purchase-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.purchase-table thead {
  /* position: sticky;
  top: 0; */
  background-color: #f2f2f2;
  /* z-index: 5; */
}

.purchase-table th,
.purchase-table td {
  border: 1px solid #ff8724;
  padding: 0.8rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.65rem;
}

.purchase-table th {
  background-color: #f2f2f2;
  font-weight: 600;
  font-size: 1.9rem;
}

.purchase-table td img {
  width: 7rem;
  height: 8rem;
  object-fit: cover;
  display: block;
}

.summary {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.summary-item {
  display: flex;
  justify-content: space-between;
}

.summary-item.total {
  font-weight: bold;
  font-size: 1.5rem;
}

.convenience-fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  /* margin-bottom: 1rem; */
  font-size: 1.5rem;
  /* position: sticky;
  bottom: 0; */
  background-color: rgb(255, 238, 241);
  z-index: 10;
}

.convenience-fee span {
  font-family: "Roboto Serif", serif;
  font-size: 1.7rem;
}

.overall-total-span {
  color: #ff1818;
}
