.contact-container {
  background-image: linear-gradient(100deg, #f0f2f5 20%, #b1c3e2 100%);
  /* background-image: linear-gradient(100deg, #eaf7ff 20%, #482e17 100%); */
  /* background-image: linear-gradient(100deg, #000000 20%, #3e98ca 100%); */

  padding-top: 6.5rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: height 0.5s ease;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 2rem; */
}
.feedback-title {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  color: #3498ff;
  font-size: 3.5rem;
}
.hr {
  border: 0.1rem solid grey;
  width: 26.5rem;
  margin-top: 0.3rem;
  margin-bottom: 3.5rem;
}

.feedback-details {
  font-family: "Roboto Serif", serif;
  font-size: 2.1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.contact-inputs {
  font-family: "Poppins", serif;
  width: 40rem;
  height: 4.5rem;
  outline: none;
  margin-bottom: 1.9rem;
  padding-inline: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: white;
  color: #0090ff;
  border-radius: 0.4rem;
  resize: none;
  border: 0.1rem solid #7a7a7a;
  border-bottom-width: 0.2rem;
  transition: all 0.3s ease;
  /* backdrop-filter: blur(.2rem);
  background-color: rgba(0, 0, 0, 0.25); */
}

.contact-inputs:focus-visible {
  transform: scale(100.5%);
  border-color: #4facfe;
}

.contact-left textarea {
  height: 14rem;
  padding-top: 1.5rem;
  border-radius: 0.4rem;
}

.contact-inputs::placeholder {
  color: grey;
  font-weight: 500;
  font-size: 1.6rem;
}

.feedback-submit {
  font-family: "Roboto Serif", serif;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  margin-block: 0.5rem;
  padding: 0.8rem;
  font-size: 2.3rem;
  font-weight: 500;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  color: #fff;
  gap: 1rem;
  border: 0.2rem solid white;
  border-radius: 0.4rem;
  background-image: linear-gradient(to right, #3498ff 0%, #00f2fe 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.feedback-submit:hover {
  transform: scale(105%);
  text-shadow: 0.1rem 0.1rem 0.2rem rgb(255, 250, 250);
  background: linear-gradient(to right, #ff91da, #d791ff);
  color: #000000;
}
.contact-right img {
  width: auto;
  height: 60rem;
  border-radius: 0.5rem;
}

.container {
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(1rem);
  position: fixed;
  left: 0%;
  bottom: 0%;
}

.popup {
  width: 38rem;
  background: #fff;
  border-radius: 0.6rem;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 2rem 2rem;
  color: #333;
  box-shadow: 0.01rem 0.01rem 2rem 0rem;
  visibility: hidden;
  transition: tranform 0.4s, top 0.4s;
}
.open-popup {
  visibility: visible;
  top: 50%;
  left: 50%;
  position: fixed;
}
.popup img {
  width: 9.5rem;
  margin-top: -5rem;
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 3.7rem;
  font-weight: 500;
  margin: 2rem 0 1rem;
}
.popup p {
  font-size: 2rem;
  font-weight: 500;
  /* margin: 3rem 0 1rem; */
}
.popup button {
  display: block;
  width: 100%;
  margin-top: 4rem;
  padding: 1.2rem 0;
  background: #6fd649;
  color: #000;
  border: none;
  outline: none;
  font-size: 2.1rem;
  font-weight: 500;
  border-radius: 0.4rem;
  cursor: pointer;
}

.feedback-error-messages {
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  margin-top: -1.6rem;
  margin-bottom: 0.8rem;
  margin-left: 0.6rem;
  font-weight: 500;
  color: red;
}

.feedback-message {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  text-align: center;
}
/* .feedback-message.success {
  color: #0029ff;
  font-size: 2.1rem;
  padding-block: 1rem;
  text-shadow: .15rem .1rem .1rem rgb(255 255 255);
} */

.feedback-message.error {
  width: 100%;
  font-size: 1.73rem;
  padding-block: 0.4rem;
  color: #ff0000;
  text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
}

/* @media (max-width: 1150px) {
  .contact-right img {
    width: 38rem;
  }
} */

@media (max-width: 950px) {
  .contact-right {
    display: none;
  }
  .contact-inputs {
    width: 58vw;
    height: 5.5rem;
    margin-bottom: 2.8rem;
    padding-inline: 1.5rem;
    font-size: 2.4rem;
  }
  .feedback-details {
    font-size: 2.6rem;
    margin-bottom: 0.7rem;
  }
  .contact-left textarea {
    height: 19rem;
  }
  .feedback-title {
    font-size: 4rem;
  }
  .hr {
    width: 30rem;
    margin-bottom: 5.5rem;
  }
  .feedback-submit {
    margin-block: 1.5rem;
    padding: 1rem;
    font-size: 3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    gap: 1rem;
    border: 0.4rem solid white;
    border-radius: 0.4rem;
  }
  .feedback-error-messages {
    font-size: 1.7rem;
    margin-top: -2.3rem;
    margin-bottom: 1.6rem;
    margin-left: 0.7rem;
  }
  .feedback-message.error {
    font-size: 1.93rem;
    padding-block: 0.2rem;
  }
}

@media (max-width: 850px) {
  .contact-container {
    padding-top: 8rem;
    transition: height 0.5s ease;
  }
  .contact-inputs {
    /* width: 58vw; */
    height: 6.4rem;
    margin-bottom: 3.2rem;
    padding-inline: 1.8rem;
    font-size: 2.8rem;
  }
  .feedback-details {
    font-size: 2.9rem;
    margin-bottom: 0.9rem;
  }
  .contact-left textarea {
    height: 22rem;
  }
  .feedback-title {
    font-size: 4.3rem;
  }
  .hr {
    width: 33rem;
    margin-bottom: 6rem;
  }
  .feedback-submit {
    margin-block: 2rem;
    padding: 1.2rem;
    font-size: 3.3rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    gap: 1.3rem;
    border: 0.4rem solid white;
    border-radius: 0.4rem;
  }
  .feedback-error-messages {
    font-size: 2rem;
    margin-top: -2.5rem;
    margin-bottom: 1.8rem;
    margin-left: 0.8rem;
  }

  .feedback-message.error {
    font-size: 2.25rem;
    padding-block: 0rem;
  }
  .popup {
    width: 44rem;
    border-radius: 0.6rem;
    padding: 0 2.5rem 3rem;
    color: #333;
    box-shadow: 0.01rem 0.01rem 2rem 0rem;
  }
  .popup img {
    width: 10.5rem;
    margin-top: -5.35rem;
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  }
  .popup h2 {
    font-size: 4.2rem;
    margin: 2.5rem 0 1.3rem;
  }
  .popup p {
    font-size: 2.5rem;
    /* margin: 3rem 0 1rem; */
  }
  .popup button {
    padding: 1.45rem 0;
    font-size: 2.4rem;
  }
}

@media (max-width: 740px) {
  .contact-container {
    padding-top: 8.7rem;
    transition: height 0.5s ease;
  }
}

@media (max-width: 670px) {
  .contact-container {
    padding-top: 10.1rem;
    transition: height 0.5s ease;
  }

  .contact-inputs {
    width: 65vw;
    height: 7.5rem;
    margin-bottom: 3.4rem;
    padding-inline: 2rem;
    font-size: 3.2rem;
  }

  .feedback-details {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }
  .contact-left textarea {
    height: 25rem;
  }
  .feedback-title {
    font-size: 5rem;
  }
  .hr {
    width: 37.8rem;
    margin-bottom: 6rem;
  }
  .feedback-submit {
    margin-block: 2.2rem;
    padding: 1.5rem;
    font-size: 3.8rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    gap: 1.3rem;
    border: 0.4rem solid white;
    border-radius: 0.4rem;
  }
  .feedback-error-messages {
    font-size: 2.4rem;
    margin-top: -2.55rem;
    margin-bottom: 2.2rem;
    margin-left: 0.85rem;
  }

  .feedback-message.error {
    font-size: 2.65rem;
    padding-block: 0.1rem;
  }
}
@media (max-width: 577px) {
  .contact-container {
    padding-top: 10.7rem;
  }
  .contact-inputs {
    width: 70vw;
    height: 7.8rem;
    margin-bottom: 3.4rem;
    padding-inline: 2.2rem;
    font-size: 3.3rem;
  }

  .feedback-details {
    font-size: 3.4rem;
    margin-bottom: 1.2rem;
  }
  .contact-left textarea {
    height: 25rem;
  }
  .feedback-title {
    font-size: 5.3rem;
  }
  .hr {
    width: 40.2rem;
    margin-bottom: 6rem;
  }
  .feedback-submit {
    margin-block: 2.2rem;
    padding: 1.6rem;
    font-size: 3.9rem;
    text-shadow: 0.2rem 0.2rem 0.2rem black;
    gap: 1.3rem;
    border: 0.4rem solid white;
    border-radius: 0.4rem;
  }
  .feedback-error-messages {
    font-size: 2.5rem;
    margin-top: -2.6rem;
    margin-bottom: 2.2rem;
    margin-left: 0.9rem;
  }

  .feedback-message.error {
    font-size: 2.8rem;
    padding-block: 0.1rem;
  }
}
@media (max-width: 430px) {
  .contact-inputs {
    width: 85vw;
  }
  .contact-container {
    height: 100dvh;
    transition: height 0.5s ease-in-out;
  }
}
