footer {
  width: 100%;
  background: linear-gradient(to right, #00093c, #2d0b00);
  color: #fff;
  padding: 2rem 0 1.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 2.3rem;
  text-align: justify;
}

.foot-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.foot-col {
  flex-basis: 25%;
  padding: 1rem;
}

.foot-col:nth-child(2),
.foot-col:nth-child(3) {
  flex-basis: 10%;
}

.foot-col .f-logo {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  margin-bottom: 2rem;
  margin-right: 2rem;
}

.foot-col h3 {
  color: hotpink;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 3.5rem;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 0.2rem solid hotpink;
  margin: 1.5rem 0;
  font-weight: 500;
}

ul li {
  list-style: none;
  margin-bottom: 1.5rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

ul li a:hover {
  color: lime;
}

.newsletter {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid #ccc;
  margin-bottom: 5rem;
}

.newsletter .icon {
  font-size: 3rem;
}

.newsletter .icon_2 {
  font-size: 3rem;
}

.newsletter .icon_2:hover {
  color: #ff1a1a;
}

.foot-col .far {
  border: transparent;
  text-align: center;
  font-size: 3.2rem;
  color: #ffffff;
  margin-right: 1.5rem;
}

.newsletter input {
  font-size: 2.2rem;
  text-align: center;
  width: 35rem;
  height: 2.8rem;
  padding-inline: 1.3rem;
  background: transparent;
  color: #21ff2c;
  border: 0;
  outline: none;
}

.newsletter button {
  color: white;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.newsletter button .fas {
  font-size: 3rem;
  margin-left: 1rem;
  color: #ccc;
}

.newsletter button .fas:hover {
  color: lime;
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
  margin-top: -5%;
}

.link1,
.link2,
.link3,
.link4 {
  margin-right: 1.5rem;
  text-align: center;
  padding: 1.3rem;
  font-size: 3.4rem;
  color: white;
  background: transparent;
  cursor: pointer;
}

.link1:hover {
  color: #0055ff;
  box-shadow: 0 0 1.5rem #0055ff;
}

.link2:hover {
  color: #e23670;
  box-shadow: 0 0 1.5rem #e1306c;
}

.link3:hover {
  color: #26a4f2;
  box-shadow: 0 0 1.5rem #1da1f2;
}

.link4:hover {
  color: #ff1a1a;
  box-shadow: 0 0 1.5rem #ff0000;
}

.rooter-hr {
  width: 97%;
  border: 0;
  border-bottom: 0.1rem solid #ccc;
  margin: -1rem auto 1.3rem;
}

.copyright {
  color: hotpink;
  text-align: center;
}

.underline {
  width: 100%;
  height: 0.5rem;
  background: #767676;
  border-radius: 0.3rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  overflow: hidden;
}

.underline span {
  position: absolute;
  width: 1.5rem;
  height: 100%;
  background: white;
  border-radius: 0.3rem;
  animation: 1.3s linear infinite;
  animation-name: run;
}

.newsletter-error-messages {
  font-family: "Roboto Serif", serif;
  text-align: center;
  font-size: 1.73rem;
  margin-top: -4.9rem;
  margin-bottom: 4.1rem;
  color: #ff0000;
  font-weight: 400;
}

.newsletter-message {
  font-family: "Roboto Serif", serif;
  font-weight: 500;
  text-align: center;
}
.newsletter-message.success {
  color: rgb(0, 255, 0);
  font-size: 2rem;
  margin-top: -3.8rem;
  margin-bottom: 3.8rem;
}

.newsletter-message.error {
  font-size: 1.73rem;
  margin-top: -4.9rem;
  margin-bottom: 4.1rem;
  font-weight: 400;
  color: #ff0000;
}

@keyframes run {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

@media (max-width: 1628px) {
  .foot-row {
    width: 95%;
  }
}
/* 
@media (max-width: 1379px) {
  .social-icons {
    margin-top: -7%;
  }
  .link1,
  .link2,
  .link3,
  .link4 {
    margin-right: 1rem;
    padding: 1.3rem;
    font-size: 3.3rem;
  }
  .newsletter input {
    font-size: 90%;
    width: 26rem;
    padding-inline: 0.9rem;
  }

  .newsletter .icon_2 {
    font-size: 2.5rem;
  }
  .newsletter .icon {
    font-size: 2.5rem;
  }
  ul li {
    margin-bottom: 1.3rem;
  }
  .newsletter-message.success {
    font-size: 1.8rem;
  }
} */

/* @media (max-width: 1180px) { */
@media (max-width: 900px) {
  .foot-col-image {
    display: flex;
    align-items: center;
    /* margin-bottom: -1rem; */
  }
  .foot-col {
    flex-basis: auto;
  }
  /* .foot-col .f-logo {
    width: 7.5rem;
    height: 7.5rem;
    margin-bottom: 1.2rem;
  } */
}
/* @media (max-width: 1168px) {
  .foot-col {
    flex-basis: auto;
  }
} */

/* @media (max-width: 830px) {
  .foot-col-image {
    flex-basis: 100%;
  }
  .foot-row {
    justify-content: space-evenly;
  }
  footer {
    font-size: 2.1rem;
  }
  .foot-col h3 {
    margin-bottom: 3.3rem;
    font-size: 2.35rem;
  }
  .link1,
  .link2,
  .link3,
  .link4 {
    font-size: 3.1rem;
  }
} */

/* @media (max-width: 778px) {
  .foot-col-image {
    display: block;
  }
  .foot-col-image {
    flex-basis: 48%;
  }
  .foot-row {
    justify-content: space-between;
  }
  .foot-col h3 {
    margin-bottom: 3.1rem;
    font-size: 2.3rem;
  }
} */

/* @media (max-width: 638px) {
  .foot-col-image {
    flex-basis: 42%;
  }
  .foot-col h3 {
    margin-bottom: 2.9rem;
    font-size: 2.25rem;
  }
  .foot-col .f-logo {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
  }
} */

@media (max-width: 575px) {
  /* .foot-col-image {
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
  }
  footer {
    font-size: 1.95rem;
  }

  .foot-col-image {
    flex-basis: 100%;
  }
  .foot-col h3 {
    margin-bottom: 2.9rem;
    font-size: 2.25rem;
  }
  .foot-col .f-logo {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
  }
  .social-icons {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .newsletter {
    margin-bottom: 4rem;
  }
  .newsletter input {
    font-size: 2.1rem;
    width: 88%;
  }
  .newsleter-container {
    flex-basis: 100%;
    padding-bottom: 1.2rem;
  }
  .link1,
  .link2,
  .link3,
  .link4 {
    margin-right: 1.7rem;
    padding: 0.8rem;
  } */
  /* .footer-link {
    display: flex;
    flex-wrap: wrap;
  } */
  .foot-row {
    width: 99%;
  }
  /* .newsletter-error-messages {
    margin-top: -3.7rem;
    margin-bottom: 4rem;
  }
  .newsletter-message.error {
    margin-top: -3.7rem;
    margin-bottom: 4rem;
  }
  .newsletter-message.success {
    margin-top: -3rem;
    margin-bottom: 3.9rem;
  } */
}

@media (max-width: 420px) {
  footer {
    font-size: 3.1rem;
    line-height: 3.7rem;
    /* padding-left: 0.5rem; */
  }
  /* .foot-col-image {
    display: block;
  } */
  /* .foot-col-image {
    display: flex;
    align-items: center;
    margin-bottom: -1rem;
  } */
  .underline {
    top: 4.3rem;
  }

  .foot-row {
    width: 95%;
    justify-content: space-around;
  }
  .foot-col {
    flex-basis: 95%;
  }
  /* .foot-col-image {
    flex-basis: 100%;
  } */
  .newsletter input {
    font-size: 4rem;
    width: 85%;
    height: 5rem;
    /* width: 85%; */
  }
  .newsleter-container {
    flex-basis: 95%;
    /* padding-bottom: 1.2rem; */
  }
  .newsletter .icon {
    font-size: 3.6rem;
  }
  .newsletter .icon_2 {
    font-size: 3.6rem;
  }
  .link1,
  .link2,
  .link3,
  .link4 {
    margin-right: 4rem;
    padding: 1.3rem;
    font-size: 5rem;
  }
  .social-icons {
    margin-top: -3.2%;
    margin-bottom: 2.3rem;
  }
  /* .footer-link {
    display: flex;
    flex-wrap: wrap;
  } */
  /* .foot-row {
    justify-content: space-between;
  } */
  /* .foot-col {
    flex-basis: 100%;
  }
  .foot-col:nth-child(2),
  .foot-col:nth-child(3) {
    flex-basis: 100%;
  } */
  /* .footer-link {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-bottom: -1.5rem;
  } */
  /* .footer-link li {
    width: 50%;
  } */
  /* .foot-col h3 {
    margin-bottom: 2.9rem;
    font-size: 2.25rem;
  } */
  /* .foot-col .f-logo {
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
  } */
  /* .social-icons {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
  }
  .newsletter {
    margin-bottom: 4rem;
  } */

  /* .foot-col h3 {
    margin-bottom: 3.1rem;
    font-size: 2.3rem;
  } */

  /* .foot-col h3 {
    margin-bottom: 2.6rem;
    font-size: 2.1rem;
  } */

  /* .newsletter input {
    font-size: 1.9rem;
  }
  .social-icons {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  } */
  /* .newsletter-error-messages {
    margin-top: -3.9rem;
    margin-bottom: 3.8rem;
  }
  .newsletter-message.error {
    margin-top: -3.9rem;
    margin-bottom: 3.8rem;
  }
  .newsletter-message.success {
    margin-top: -2.8rem;
    font-weight: 400;
    margin-bottom: 3.7rem;
  } */
}
