.home {
  height: 100vh;
  padding-top: 6.5rem;
  background-image: url("/Images/Home-Background.jpg");
  background-position: center;
  background-size: cover;
  object-fit: cover;
  color: white;
  text-align: center;
}

.home h1 {
  padding-top: 35vh;
  padding-inline: 3%;
  font-size: 6rem;
  text-shadow: 0.25rem 0.2rem #cf661a;
  letter-spacing: 0.1rem;
}

.home p {
  padding-inline: 3%;
  padding-top: 1.2rem;
  font-size: 2.85rem;
  font-weight: 400;
  line-height: 3rem;
  text-shadow: 0.25rem 0.1rem #cf661a;
}

.home-btn {
  /* padding: 1.2rem; */
  margin-top: 5rem;
}

.home-btn .slogan {
  font-family: "Roboto Serif", serif;
  padding: 1.05rem 3rem;
  /* border: 0.2rem solid rgb(255, 154, 169); */
  border-radius: 0.3rem;
  font-size: 2.1rem;
  text-shadow: 0.2rem 0.2rem 0.2rem #000000;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.05rem;
  color: white;
  background: radial-gradient(
    circle at 49.8% 44.4%,
    rgb(255, 183, 194),
    rgb(255, 137, 155)
  );
}

.slogan .angle-right {
  margin-left: 0.75rem;
  font-size: 1.5rem;
  text-align: center;
  animation: animate 0.5s ease infinite;
}

.slogan:hover {
  background: radial-gradient(circle at 47.4%, #d5dee7, #9cff6b 90%);
  text-shadow: 0.2rem 0.2rem 0.4rem white;
  /* border-color: rgb(0, 203, 0); */
}

.home-btn .slogan:hover {
  color: black;
}

@keyframes animate {
  0% {
    transform: translateX(-0.5rem);
  }

  100% {
    transform: translateX(0.5rem);
  }
}

@media (max-width: 430px) {
  .home {
    height: 100dvh;
    transition: height 0.4s ease-in-out;
    background-image: url("/Images/mobile-background.jpg");
    background-position: left;
  }
}
