@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 7.2rem;
  width: 100%;
  background: linear-gradient(to right, #fdf, #fee2f8);
}

.login-image-container {
  width: 38rem;
  height: 59rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  border: 0.3rem solid #ffffff;
  border-right: none;
}

.login-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38rem;
  height: 59rem;
  background: linear-gradient(to left, #ffb2e4, #c5efff);
  padding: 2.5rem 1.9rem;
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
  transition: all 0.5s ease-in-out;
  border: 0.3rem solid #ffffff;
  /* box-shadow: 0 0 8rem rgba(0, 0, 0, 0), 0 0 8rem #36c6ff; */
  border-left: none;
}

.login-title {
  font-family: "Poppins", sans-serif;
  /* margin-top: 11.5rem; */
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  position: relative;
  cursor: default;
}

.login-title::before {
  content: "";
  position: absolute;
  /* left: 0; */
  bottom: 0;
  height: 0.3rem;
  width: 7.5rem;
  border-radius: 0.5rem;
  background: #ff4ec1;
}

/* .login-user-details {
  margin: 0rem 0 12rem 0;
} */

.login-details {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
  margin-bottom: 0.3rem;
  cursor: default;
}

.login-text-box {
  /* font-family: "Poppins", sans-serif; */
  height: 4.4rem;
  width: 34rem;
  outline: none;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  padding-left: 4rem;
  padding-right: 1.3rem;
  background-color: whitesmoke;
  border: 0.1rem solid #ff70cd;
  border-bottom-width: 0.2rem;
  margin-bottom: 2.1rem;
  transition: all 0.3s ease;
  color: #cf661a;
  font-weight: 500;
}

.login-text-box:focus-visible {
  transform: scale(100.5%);
  border-color: #23c1ff;
}
.login-pass-box {
  padding-right: 12.7%;
}
.login-icon {
  font-size: 2.15rem;
  position: absolute;
  color: #cf661a;
  margin-left: -33.1rem;
  margin-top: 1.1rem;
}

.login-password-eye {
  position: absolute;
  display: flex;
  margin-top: -5.4rem;
  margin-left: 30.4rem;
  cursor: pointer;
  font-size: 2rem;
}

.login-error-messages {
  font-family: "Roboto Serif", serif;
  font-size: 1.5rem;
  margin-top: -1.7rem;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
  font-weight: 500;
  color: rgb(255, 0, 0);
}

.login-btn {
  font-family: "Poppins", sans-serif;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  height: 4.5rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0.2rem solid white;
  background: linear-gradient(to right, #ff95e6 20%, #ffb0ec 40%, aqua 100%);
}

.login-btn:hover {
  transform: scale(101%);
  text-shadow: none;
  color: #ff00a6;
  border: 0.2rem solid #ff70cd;
  box-shadow: 0 0 0.8rem #ff70cd;
  background: linear-gradient(to left, #ffffff 20%, #ffffff 40%, #faffff 100%);
}

.signup-line {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
}

.signup-link {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  text-align: justify;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.3rem black;
  font-size: 2rem;
}

.signup-link:hover {
  color: #0024ff;
  text-shadow: 0.2rem 0.2rem 0.3rem white;
  transition: all 0.1s ease;
}

/* .forgot-pwd {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  text-shadow: .2rem .2rem .3rem #cf661a;
}

.forgot-pwd:hover {
  color: #cf661a;
  text-shadow: .2rem .2rem .3rem white;
  transition: all 0.1s ease;
} */

.validate-txt {
  margin-top: -2.3rem;
  margin-left: 0.9rem;
  font-weight: 500;
  color: hotpink;
  position: absolute;
  font-size: 1.67rem;
}

.login-feedback-message {
  font-family: "Roboto Serif", serif;
  text-align: center;
  font-weight: 500;
}
.login-feedback-message.success {
  color: #1e00ff;
  font-size: 2.1rem;
  padding-block: 1rem;
  text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
}

.login-feedback-message.error {
  font-size: 1.73rem;
  padding-block: 0.4rem;
  color: #ff0000;
  text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
}

@media only screen and (max-width: 850px) {
  .login-image-container {
    width: 44rem;
    height: 68rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.4rem solid #ffffff;
    border-right: none;
  }
  .login-image-container img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .login-form-container {
    width: 44rem;
    height: 68rem;
    padding: 2.5rem 2.49rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.4rem solid #ffffff;
    border-left: none;
  }
  .login-text-box {
    height: 5.2rem;
    width: 39rem;
    font-size: 2.2rem;
    border-radius: 0.6rem;
    padding-left: 4.4rem;
    padding-right: 1.3rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.1rem solid #ff70cd;
    border-bottom-width: 0.2rem;
    margin-bottom: 2.5rem;
  }
  .login-details {
    font-size: 2.3rem;
  }
  .login-icon {
    font-size: 2.5rem;
    margin-left: -37.9rem;
    margin-top: 1.3rem;
  }
  .login-pass-box {
    padding-right: 12%;
  }
  .login-password-eye {
    margin-top: -6.1rem;
    margin-left: 34.8rem;
    font-size: 2.4rem;
  }
  .login-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 5.4rem;
    border-radius: 0.5rem;
    text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .signup-line {
    font-size: 2.2rem;
  }
  .signup-link {
    font-size: 2.4rem;
  }
  .login-title {
    margin-bottom: 2rem;
    font-size: 2.9rem;
  }
  .login-title::before {
    width: 8.7rem;
    height: 0.4rem;
  }
  .login-error-messages {
    font-size: 1.7rem;
    margin-top: -2.1rem;
    margin-bottom: 0.8rem;
  }
  .login-feedback-message.error {
    font-size: 1.9rem;
    padding-block: 0.5rem;
  }
  .login-feedback-message.success {
    color: #1e00ff;
    font-size: 2.5rem;
    padding-block: 1rem;
    text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
  }
}

@media only screen and (max-width: 739px) {
  .login-image-container {
    width: 48rem;
    height: 74rem;
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border: 0.5rem solid #ffffff;
    border-right: none;
  }
  .login-image-container img {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  .login-form-container {
    width: 48rem;
    height: 74rem;
    padding: 2.5rem 2.49rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.5rem solid #ffffff;
    border-left: none;
  }
  .login-text-box {
    height: 5.8rem;
    width: 43rem;
    font-size: 2.4rem;
    border-radius: 0.6rem;
    padding-left: 5.1rem;
    padding-right: 1.3rem;
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border: 0.1rem solid #ff70cd;
    border-bottom-width: 0.2rem;
    margin-bottom: 2.5rem;
  }
  .login-details {
    font-size: 2.4rem;
  }
  .login-icon {
    font-size: 2.6rem;
    margin-left: -41.5rem;
    margin-top: 1.7rem;
  }
  .login-pass-box {
    padding-right: 12%;
  }
  .login-password-eye {
    margin-top: -6.6rem;
    margin-left: 38.7rem;
    font-size: 2.5rem;
  }
  .login-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 5.8rem;
    border-radius: 0.5rem;
    text-shadow: 0.2rem 0.2rem 0.1rem #cf661a;
    font-size: 2.6rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .signup-line {
    font-size: 2.4rem;
  }
  .signup-link {
    font-size: 2.6rem;
  }
  .login-title {
    margin-bottom: 2rem;
    font-size: 3.2rem;
  }
  .login-title::before {
    width: 9.7rem;
    height: 0.5rem;
  }
  .login-error-messages {
    font-size: 1.9rem;
    margin-top: -2.1rem;
    margin-bottom: 0.8rem;
  }
  .login-feedback-message.error {
    font-size: 2.1rem;
    padding-block: 0.5rem;
  }
  .login-feedback-message.success {
    color: #1e00ff;
    font-size: 2.7rem;
    padding-block: 1rem;
    text-shadow: 0.15rem 0.1rem 0.1rem rgb(255 255 255);
  }
}

@media only screen and (max-width: 670px) {
  .login-image-container {
    display: none;
  }
  .login-mobile-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    width: 100%;
    background-image: url(/Images/signup-login-bg.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .login-container {
    background: transparent;
    backdrop-filter: blur(0.8rem);
  }
  .login-form-container {
    width: 60rem;
    height: 90rem;
    border: 0.45rem solid #ffffff;
    border-radius: 0.5rem;
    background: rgb(255 255 255 / 50%);
  }
  .login-details {
    font-size: 3.1rem;
  }

  .login-text-box {
    height: 7.3rem;
    width: 54rem;
    font-size: 3.1rem;
    border-radius: 0.5rem;
    padding-left: 7rem;
    padding-right: 1.3rem;
    border: 0.3rem solid #ff70cd;
    border-bottom-width: 0.3rem;
    margin-bottom: 2.7rem;
  }
  .login-icon {
    font-size: 4rem;
    margin-left: -52rem;
    margin-top: 1.8rem;
  }
  .login-password-eye {
    margin-top: -8.05rem;
    margin-left: 48rem;
    font-size: 3.6rem;
  }
  .login-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 7rem;
    border-radius: 0.5rem;
    text-shadow: 0.25rem 0.25rem 0.1rem #cf661a;
    font-size: 3.45rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .signup-line {
    font-size: 3rem;
  }
  .signup-link {
    font-size: 3.1rem;
  }
  .login-title {
    margin-bottom: 3.5rem;
    font-size: 4rem;
  }
  .login-title::before {
    width: 11rem;
  }
  .login-pass-box {
    padding-right: 12.5%;
  }
  .login-feedback-message.error {
    font-size: 2.7rem;
    padding-block: 0.7rem;
  }
  .login-error-messages {
    font-size: 2.25rem;
    margin-top: -2.2rem;
  }

  .login-feedback-message.success {
    font-size: 3.5rem;
    padding-block: 1.4rem;
  }
}

@media only screen and (max-width: 577px) {
  .login-form-container {
    width: 64rem;
    height: 94rem;
    border: 0.45rem solid #ffffff;
    border-radius: 0.5rem;
    background: rgb(255 255 255 / 50%);
  }
  .login-details {
    font-size: 3.1rem;
  }

  .login-text-box {
    height: 7.6rem;
    width: 58rem;
    font-size: 3.4rem;
    border-radius: 0.5rem;
    padding-left: 7rem;
    padding-right: 1.3rem;
    border: 0.3rem solid #ff70cd;
    border-bottom-width: 0.3rem;
    margin-bottom: 2.9rem;
  }
  .login-icon {
    font-size: 3.6rem;
    margin-left: -56rem;
    margin-top: 2.1rem;
  }
  .login-password-eye {
    margin-top: -8.2rem;
    margin-left: 52.4rem;
    font-size: 3.2rem;
  }
  .login-btn {
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    height: 7.2rem;
    border-radius: 0.5rem;
    text-shadow: 0.25rem 0.25rem 0.1rem #cf661a;
    font-size: 3.7rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
    border: 0.2rem solid white;
  }
  .signup-line {
    font-size: 3.2em;
  }
  .signup-link {
    font-size: 3.5rem;
  }
  .login-title {
    margin-bottom: 2.2em;
    font-size: 4.5rem;
  }
  .login-title::before {
    width: 13.4rem;
  }
  .login-pass-box {
    padding-right: 12.5%;
  }
  .login-feedback-message.error {
    font-size: 2.7rem;
    padding-block: 0.5rem;
  }
  .login-error-messages {
    font-size: 2.5rem;
    margin-top: -2.4rem;
  }

  .login-feedback-message.success {
    font-size: 3.7rem;
  }
}
